﻿@{
    ViewBag.Title = "Filling Point";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jqGrid-4.7.0/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/silk-sprite/silk-sprite.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/cinovasi.widget.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="@Url.Content("~/Scripts/underscore-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ajaxmanager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone.sync.ajaxman.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/i18n/grid.locale-en.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/minified/jquery.jqGrid.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquerytools/src/tabs/tabs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.field.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.metadata.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/date.format.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.foundation.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.widget.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/FillingPoint/model.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/FillingPoint/tabview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/FillingPoint/gridview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/FillingPoint/filterview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/FillingPoint/formview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/FillingPoint/router.js")"></script>

<style type="text/css">
tr.nearexpired, tr.nearexpired a
{
    color: red;
}
</style>

<div id="pnl-frame">
    <ul class="tabs">
        <li>
            <a href="#pnl-grid">Grid</a>
        </li>
        <li>
            <a href="#pnl-form">Form</a>
        </li>
    </ul>
    <!-- panel grid -->
    <div id="pnl-grid" class="panes">
        <div class="panel-group" id="pnl-search" role="tablist" aria-multiselectable="true">
            <div class="panel panel-darkblue">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#pnl-search" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Filling Point
                        </a>
                        <div class="float-right">
                            @if (ViewBag.New)
                            {
                                <a href="#new" style="color:#fff;">
                                    <span class="ui-silk ui-silk-application-add"></span>New
                                </a>
                            }
                        </div>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="pnl-search" class="pnl-search bg-grey-gallery">
                            <form style="" id="form-search" action="javascript:void(0);">
                            <!-- Toolbar Front Page -->
                            <fieldset class="pnl-button">
                                <ol>
                                    <li>
                                        <button class="button cmd-refresh">
                                        <span class="ui-silk ui-silk-arrow-refresh"></span> Refresh
                                        </button>
                                    </li>
                                    <li>
                                        <button class="button cmd-reset-filter">
                                        <span class="ui-silk ui-silk-arrow-rotate-clockwise"></span> Reset Filter
                                        </button>
                                    </li>
                                    <li>
                                        <button class="button cmd-export">
                                        <span class="ui-silk ui-silk-page-white-excel"></span> Export Excel
                                        </button>
                                    </li>
                                </ol>
                            </fieldset>
                            <fieldset class="search-param">
                                <ol>
                                    <li class="search-item">
                                        <label for="flt-name">Name</label>
                                        <input type="text" size="10" id="flt-name" name="fltName" class="input-control"/>
                                    </li>
                                    <li class="search-item">
                                        <label for="flt-status">Status</label>
                                        <select id="flt-status" name="fltStatus" class="input-control">
                                            <option value="">--</option>
                                            <option value="0">Inactive</option>
                                            <option value="1">Active</option>
                                        </select>
                                    </li>
                                </ol>
                            </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jq grid -->
        <div id="pnl-grid-container" >
            <table id="tbl-filling-point"></table>
            <div id="tbl-filling-point-pager"></div>
        </div>
    </div>
    <!-- end of panel grid -->
    <div id="pnl-form" class="panes">
        <div class="form-top-toolbar">
            <fieldset>
                <ol>
                    <li>
                        <button class="button cmd-back btn btn-darkblue">
                            <a href="#" class="toolbar-item" style="color:#fff" ;>
                                <span class="ui-silk ui-silk-control-rewind-blue"></span> Back to List
                            </a>
                        </button>
                    </li>
                    @if (ViewBag.Update)
                    {
                        <li>
                            <button class="button cmd-edit btn btn-darkblue">
                                <span class="ui-silk ui-silk-pencil"></span> Edit
                            </button>
                        </li>
                    }
                    <li>
                        <button id="btn-save" class="button cmd-save btn btn-darkblue">
                            <span class="ui-silk ui-silk-disk"></span> Save
                        </button>
                    </li>
                </ol>
            </fieldset>
        </div>
        <form id="the-form" class="the-form">
            <div class="server-msg pnl-msg"></div>
            <div class="client-msg pnl-msg"></div>
            <!-- DETAIL Information -->
            <fieldset class="cssform left-label">
            <legend>Filling Point Details</legend>
            <ol>
                <li>
                    <label for="txt-username">Name<span class="required-mark"> *</span></label>
                    <div>
                        <input type="text" id="txt-username" name="Name" title="Filling Point Name is required" class="required" />
                        <span class="fieldValue"></span>
                    </div>
                </li>
                <li>
                    <label for="txt-tank">Tank<span class="required-mark"> *</span></label>
                    <div>
                        <select id="ddl-tank" name="TankIdHelper" title="Tank is required" class="required">
                            <option value="">--</option>
                            @foreach (CFS.Models.Tank p in ViewBag.Tank)
                            {
                                <option value="@p.TankId">@p.Name</option>
                            }
                        </select>
                        <span class="fieldValue"></span>
                    </div>
                </li>
                <li>
                    <label for="lbl-product-name">Product</label>
                    <div>
                        <input type="text" id="txt-product-name" name="ProductName" title="Product Name is required" class="" readonly="readonly" />
                        <span class="fieldValue"></span>
                    </div>
                </li>
                <li>
                    <label for="lbl-company-name">Company</label>
                    <div>
                        <input type="text" id="txt-company-name" name="CompanyName" title="Company Name is required" class="" readonly="readonly" />
                        <span class="fieldValue"></span>
                    </div>
                </li>
                <li>
                    <label for="txt-pump">Pump<span class="required-mark"> *</span></label>
                    <div>
                        <select id="ddl-pump" name="PumpId" title="Pump is required" class="required">
                            <option value="">--</option>
                            @foreach (CFS.Models.Pump p in ViewBag.Pump)
                            {
                                <option value="@p.PumpId">@p.Name - @p.Flowrate (m3/h)</option>
                            }
                        </select>
                        <span class="fieldValue"></span>
                    </div>
                </li>
                <li>
                    <label for="lbl-correction-factor">Correction Factor</label>
                    <div>
                        <input type="text" id="txt-correction-factor" name="CorrectionFactor" title="Correction Factor is required" class="" />
                        <span class="fieldValue"></span>
                    </div>
                </li>
                <li>
                    <label for="lbl-expired-date">Expired Date</label>
                    <div>
                        <input type="text" id="txt-expired-date" name="ExpiredDate" title="Expired Date is required" class="" />
                        <span class="fieldValue"></span>
                    </div>
                </li>
            </ol>
            </fieldset>
            <!-- Audit Trail -->
            <fieldset class="cssform left-label">
            <legend>Audit Trail</legend>
                <ol>
                    <li>
                        <label>Date Created</label>
                        <div>
                            <span id="lbl-insert-date" name="CreatedTimestamp" class="fieldValue" readonly="readonly"/>
                        </div>
                    </li>
                    <li>
                        <label>Created By</label>
                        <div>
                            <span id="lbl-insert-by" name="CreatedByName" readonly="readonly" class="fieldValue"/>
                        </div>
                    </li>
                    <li>
                        <label>Date Last Updated</label>
                        <div>
                            <span id="lbl-last-updated-date" name="UpdatedTimestamp" readonly="readonly" class="fieldValue"/>
                        </div>
                    </li>
                    <li>
                        <label>Last Updated By</label>
                        <div>
                            <span id="lbl-last-updated-by" name="UpdatedByName" readonly="readonly" class="fieldValue"/>
                        </div>
                    </li>
                </ol>
            </fieldset>
            <!-- END Audit Trail-->
        </form>
    </div>
</div>
