﻿@{
    ViewBag.Title = "Delivery Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jqGrid-4.7.0/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/silk-sprite/silk-sprite.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/cinovasi.widget.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="@Url.Content("~/Scripts/underscore-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ajaxmanager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone.sync.ajaxman.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/i18n/grid.locale-en.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/minified/jquery.jqGrid.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquerytools/src/tabs/tabs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.field.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.metadata.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/date.format.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.foundation.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.widget.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/DeliveryOrder/model.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DeliveryOrder/tabview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DeliveryOrder/gridview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DeliveryOrder/filterview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DeliveryOrder/formview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DeliveryOrder/dlgdeliveryorderdetail.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DeliveryOrder/griddeliveryorderdetail.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DeliveryOrder/router.js")"></script>


<style type="text/css">
</style>

<div id="pnl-frame">
    <ul class="tabs">
        <li>
            <a href="#pnl-grid">Grid</a>
        </li>
        <li>
            <a href="#pnl-form">Form</a>
        </li>
    </ul>
    <!-- panel grid -->
    <div id="pnl-grid" class="panes">
        <div class="panel-group" id="pnl-search" role="tablist" aria-multiselectable="true">
            <div class="panel panel-darkblue">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#pnl-search" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Delivery Order
                        </a>
                        <div class="float-right">
                            @*<a href="#new" style="color:#fff;">
                                    <span class="ui-silk ui-silk-application-add"></span>Manual
                                </a>*@
                        </div>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="pnl-search" class="pnl-search bg-grey-gallery">
                            <form style="" id="form-search" action="javascript:void(0);">
                                <!-- Toolbar Front Page -->
                                <fieldset class="pnl-button">
                                    <ol>
                                        <li>
                                            <button class="button cmd-refresh">
                                                <span class="ui-silk ui-silk-arrow-refresh"></span> Refresh
                                            </button>
                                        </li>
                                        <li>
                                            <button class="button cmd-reset-filter">
                                                <span class="ui-silk ui-silk-arrow-rotate-clockwise"></span> Reset Filter
                                            </button>
                                        </li>
                                        @*<li>
                                                <button class="button cmd-export">
                                                    <span class="ui-silk ui-silk-page-white-excel"></span> Export Excel
                                                </button>
                                            </li>
                                            <li>
                                                <button class="button cmd-download">
                                                    <span class="ui-silk ui-silk-world-go"></span> Download / Update DO
                                                </button>
                                            </li>*@
                                    </ol>
                                </fieldset>
                                <fieldset class="search-param">
                                    <ol>
                                        <li class="search-item">
                                            <label for="flt-delivery-order-number">DO Number</label>
                                            <input type="text" size="10" id="flt-delivery-order-number" name="fltDeliveryOrderNumber" class="input-control" />
                                        </li>
                                        <li class="search-item">
                                            <label for="flt-status">Status</label>
                                            <select id="flt-status" name="fltStatus" class="input-control" title="press ENTER to trigger search">
                                                <option value="">--</option>
                                                <option value="Approved">Approved</option>
                                                @*<option value="Administration">Administration</option>*@
                                                <option value="In Process">In Process</option>
                                                <option value="Completed">Completed</option>
                                            </select>
                                        </li>
                                        <li class="search-item">
                                            <label for="flt-company">Company</label>
                                            <select id="flt-company" name="fltCompany" class="input-control" title="press ENTER to trigger search">
                                                <option value="">--</option>
                                                @foreach (CFS.Models.Company u in ViewBag.Company)
                                                {
                                                    <option value="@u.CompanyId">@u.CompanyName</option>
                                                }
                                            </select>
                                        </li>
                                        <li class="search-item">
                                            <label for="flt-customer-reference-number">Customer Ref. Number</label>
                                            <input type="text" size="10" id="flt-customer-reference-number" name="fltCustomerReferenceNumber" class="input-control" />
                                        </li>
                                    </ol>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jq grid -->
        <div id="pnl-grid-container">
            <table id="tbl-delivery-order"></table>
            <div id="tbl-delivery-order-pager"></div>
        </div>
    </div>
    <!-- end of panel grid -->
    <div id="pnl-form" class="panes">
        <div class="form-top-toolbar">
            <fieldset>
                <ol>
                    <li>
                        <button class="button cmd-back btn btn-darkblue">
                            <a href="#" class="toolbar-item" style="color:#fff" ;>
                                <span class="ui-silk ui-silk-control-rewind-blue"></span> Back to List
                            </a>
                        </button>
                    </li>
                    @if (ViewBag.Update)
                    {
                        <li>
                            <button class="button cmd-edit btn btn-darkblue">
                                <span class="ui-silk ui-silk-pencil"></span> Edit
                            </button>
                        </li>
                    }
                    <li>
                        <button id="btn-save" class="button cmd-save btn btn-darkblue">
                            <span class="ui-silk ui-silk-disk"></span> Save
                        </button>
                    </li>
                </ol>
            </fieldset>
        </div>

        <form id="the-form" class="the-form">
            <div class="server-msg pnl-msg"></div>
            <div class="client-msg pnl-msg"></div>
            <!-- DETAIL Information -->
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="cssform left-label">
                        <legend>Delivery Order Details</legend>
                        <ol>
                            <li>
                                <label for="txt-delivery-order-number">Delivery Order Number<span class="required-mark"> *</span></label>
                                <div>
                                    <input type="text" id="txt-delivery-order-number" name="DeliveryOrderNumber" title="Delivery Order Number is required" class="required" readonly="readonly" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="lbl-company-name">Company</label>
                                <div>
                                    <input type="text" id="txt-company-name" name="CompanyName" title="" class="required" readonly="readonly" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="lbl-type">Type<span class="required-mark"> *</span></label>
                                <div>
                                    <input type="text" id="txt-type" name="Type" title="" class="required" readonly="readonly" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="lbl-delivery-date">Date<span class="required-mark"> *</span></label>
                                <div>
                                    <input type="text" id="txt-delivery-date" name="DeliveryDate" title="" class="required" readonly="readonly" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="lbl-truck">Truck</label>
                                <div>
                                    <input type="text" id="txt-truck" name="Truck" title="" class="" readonly="readonly" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="lbl-driver">Driver</label>
                                <div>
                                    <input type="text" id="txt-driver" name="Driver" title="" class="" readonly="readonly" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="lbl-status">Status</label>
                                <div>
                                    <input type="text" id="txt-status" name="Status" title="" class="" readonly="readonly" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="lbl-remarks">Remarks</label>
                                <div>
                                    <textarea id="txt-remarks" name="Remarks" title="" class="" rows="5" cols="10" readonly="readonly"></textarea>
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <input type="hidden" id="hdn-company-id" name="CompanyId" />
                            </li>
                        </ol>
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset class="cssform left-label">
                        <legend>Delivery Order Detail</legend>
                        @*<p>
                            <input id="btn-add-delivery-order" type="button" value="Add Delivery Order" class="btn btn-primary btn-sm" />
                        </p>*@
                        <table id="tbl-delivery-order-detail" cellspacing="0" cellpadding="0"></table>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end of panel frame -->
<form id="dlg-delivery-order-detail" class="jqmWindow">
    <div class="dlg-title-block">
        <span class="dlg-title-text">DO Details</span>
    </div>
    <!-- content container -->
    <div class="DlgContentWrapper">
        <!-- for dealing with IE6 max-height emulation -->
        <div class="dlg-content-block">
            <fieldset class="cssform left-label">
                <ol>
                    @*<li>
                          <label for="txt-delivery-order-detail-number">DO Detail No.</label>
                            <input type="text" id="txt-delivery-order-detail-number" class="form-control" disabled="disabled" style="width:200px"/>
                        </li>*@
                    <li>
                        <label for="txt-customer-reference-number">Customer Ref. No.</label>
                        <input type="text" id="txt-customer-reference-number" name="CustomerReferenceNumber" class="form-control" title="" style="width:200px;" />
                    </li>
                    <li>
                        <label for="ddl-tank">Tank<span class="required-mark"> *</span></label>
                        <select id="ddl-tank" name="TankName" class="required form-control" title="Product is required" style="width:200px;">
                        </select>
                    </li>
                    <li>
                        <label for="ddl-product">Product<span class="required-mark"> *</span></label>
                        <select id="ddl-product" name="ProductId" class="required form-control" disabled="disabled" title="Product is required" style="width:200px;">
                        </select>
                    </li>
                    <li>
                        <label for="txt-quantity">Quantity<span class="required-mark"> *</span></label>
                        <input type="text" id="txt-quantity" name="Quantity" class="required number form-control" title="" style="width:200px;" />
                    </li>
                    <li>
                        <label for="txt-uom">UOM</label>
                        <input type="text" id="txt-uom" name="UOM" class="form-control" title="" style="width:200px;" readonly="readonly" />
                    </li>
                    <li>
                        <label for="txt-ship-to-address">Consignee</label>
                        <textarea type="text" id="txt-ship-to-address" class="form-control" name="ShipToAddress" style="width:200px"></textarea>
                    </li>
                </ol>
            </fieldset>
        </div>
        <!-- .DlgContent -->
        <div class="dlg-button-block bg-grey-gallery">
            <input type="button" value="OK" class="dlg-tool-cmd-save btn red" />
            <input type="button" value="Cancel" class="dlg-tool-cmd-cancel btn default" />
        </div>
    </div>
    <!-- .DlgContentWrapper -->
</form>

