﻿@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jqGrid-4.7.0/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/silk-sprite/silk-sprite.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/cinovasi.widget.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="@Url.Content("~/Scripts/underscore-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ajaxmanager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone.sync.ajaxman.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/i18n/grid.locale-en.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/minified/jquery.jqGrid.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquerytools/src/tabs/tabs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.field.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.metadata.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/date.format.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.foundation.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.widget.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquery-ui/ui/minified/ui.datepicker.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Customer/model.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Customer/tabview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Customer/gridview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Customer/filterview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Customer/formview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Customer/dlgdownloadcustomer.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Customer/router.js")"></script>

<style type="text/css">

</style>

<div id="pnl-frame">
    <ul class="tabs">
        <li>
            <a href="#pnl-grid">Grid</a>
        </li>
        <li>
            <a href="#pnl-form">Form</a>
        </li>
    </ul>
    <!-- panel grid -->
    <div id="pnl-grid" class="panes" style="margin-bottom:50px">
        <div class="panel-group" id="pnl-search" role="tablist" aria-multiselectable="true">
            <div class="panel panel-darkblue">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#pnl-search" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Customer
                        </a>
                        <div class="float-right">
                            @if (ViewBag.New)
                            {
                                <a href="#new" style="color:#fff;">
                                    <span class="ui-silk ui-silk-application-add"></span>New
                                </a>
                            }
                        </div>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="pnl-search" class="pnl-search bg-grey-gallery">
                            <form style="" id="form-search" action="javascript:void(0);">
                            <!-- Toolbar Front Page -->
                            <fieldset class="pnl-button">
                                <ol>
                                    <li>
                                        <button class="button cmd-refresh">
                                        <span class="ui-silk ui-silk-arrow-refresh"></span> Refresh
                                        </button>
                                    </li>
                                    <li>
                                        <button class="button cmd-reset-filter">
                                        <span class="ui-silk ui-silk-arrow-rotate-clockwise"></span> Reset Filter
                                        </button>
                                    </li>
                                    <li>
                                        <button class="button cmd-export">
                                        <span class="ui-silk ui-silk-page-white-excel"></span> Export Excel
                                        </button>
                                    </li>
                                    @if (ViewBag.Download)
                                    {
                                    <li>
                                        <button class="button cmd-download">
                                        <span class="ui-silk ui-silk-world-go"></span> Download / Update Customer
                                        </button>
                                    </li>
                                    }
                                </ol>
                            </fieldset>
                            <fieldset class="search-param">
                                <ol>
                                    <li class="search-item">
                                        <label for="flt-ship-to-code">Ship To Code</label>
                                        <input type="text" size="10" id="flt-ship-to-code" name="fltShipToCode" class="input-control"/>
                                    </li>
                                    <li class="search-item">
                                        <label for="flt-ship-to-name">Ship To Name</label>
                                        <input type="text" size="10" id="flt-ship-to-name" name="fltShipToName" class="input-control"/>
                                    </li>
                                </ol>
                            </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jq grid -->
        <div id="pnl-grid-container" >
            <table id="tbl-customer"></table>
            <div id="tbl-customer-pager"></div>
        </div>
    </div>
    <!-- end of panel grid -->
    <div id="pnl-form" class="panes">
        <div class="form-top-toolbar">
            <fieldset>
                <ol>
                    <li>
                        <button class="button cmd-back btn-darkblue">
                            <a href="#" class="toolbar-item" style="color:#fff";>
                            <span class="ui-silk ui-silk-control-rewind-blue"></span> Back to List
                            </a>
                        </button>
                    </li>
                    @if (ViewBag.Update)
                    {
                    <li>
                        <button class="button cmd-edit btn-darkblue">
                        <span class="ui-silk ui-silk-pencil"></span> Edit
                        </button>
                    </li>
                    }
                    <li>
                        <button id="btn-save" class="button cmd-save btn-darkblue">
                        <span class="ui-silk ui-silk-disk"></span> Save
                        </button>
                    </li>
                </ol>
            </fieldset>
        </div>
        <form id="the-form" class="the-form">
            <div class="server-msg pnl-msg"></div>
            <div class="client-msg pnl-msg"></div>
            <!-- DETAIL Information -->
            <fieldset class="cssform left-label">
            <legend>Customer Details</legend>
                <ol>
                   
                    <li>
                        <label for="txt-ship-to-code">Ship To Code<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-ship-to-code" name="ShipToCode" title="Ship To Code is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-ship-to-name">Ship To Name<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-ship-to-name" name="ShipToName" title="Ship To Name is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-ship-to-address">Ship To Address<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-ship-to-address" name="ShipToAddress" title="Ship To Address is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-ship-to-phone">Ship To Phone</label>
                        <div>
                            <input type="text" id="txt-ship-to-phone" name="ShipToPhone" title="Ship To Phone is required" class=""/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-ship-to-city">Ship To City</label>
                        <div>
                            <input type="text" id="txt-ship-to-city" name="ShipToCity" title="Ship To City is required" class=""/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-ship-to-spbu-code">Ship To SPBU Code</label>
                        <div>
                            <input type="text" id="txt-ship-to-spbu-code" name="ShipToSpbuCode" title="Ship To Spbu Code is required" class=""/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-sold-to-code">Sold To Code<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-sold-to-code" name="SoldToCode" title="Sold To Code is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-sold-to-name">Sold To Name<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-sold-to-name" name="SoldToName" title="Sold To Name is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-sold-to-address">Sold To Address</label>
                        <div>
                            <input type="text" id="txt-sold-to-address" name="SoldToAddress" title="Sold To Address is required" class=""/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-sold-to-phone">Sold To Phone</label>
                        <div>
                            <input type="text" id="txt-sold-to-phone" name="SoldToPhone" title="Sold To Phone is required" class=""/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-sold-to-city">Sold To City</label>
                        <div>
                            <input type="text" id="txt-sold-to-city" name="SoldToCity" title="Sold To City is required" class=""/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-primary-contact-number">Primary Contact Number</label>
                        <div>
                            <input type="text" id="txt-primary-contact-number" name="PrimaryContactNumber" title="Primary Contact Number is required" class=""/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-secondary-contact-number">Secondary Contact Number</label>
                        <div>
                            <input type="text" id="txt-secondary-contact-number" name="SecondaryContactNumber" title="Secondary Contact Number is required" class=""/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-customer-group">Customer Group<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-customer-group" name="CustomerGroup" title="Customer Group is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-distance-from-terminal">Distance From Terminal (Km)</label>
                        <div>
                            <input type="text" id="txt-distance-from-terminal" name="DistanceFromTerminal" title="Distance From Terminal is required" class=""/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                </ol>
            </fieldset>
            <!-- Audit Trail -->
            <fieldset class="cssform left-label">
            <legend>Audit Trail</legend>
                <ol>
                    <li>
                        <label>Date Created</label>
                        <div>
                            <span id="lbl-insert-date" name="CreatedTimestamp" class="fieldValue" readonly="readonly"/>
                        </div>
                    </li>
                    <li>
                        <label>Created By</label>
                        <div>
                            <span id="lbl-insert-by" name="CreatedByName" readonly="readonly" class="fieldValue"/>
                        </div>
                    </li>
                    <li>
                        <label>Date Last Updated</label>
                        <div>
                            <span id="lbl-last-updated-date" name="UpdatedTimestamp" readonly="readonly" class="fieldValue"/>
                        </div>
                    </li>
                    <li>
                        <label>Last Updated By</label>
                        <div>
                            <span id="lbl-last-updated-by" name="CreatedByName" readonly="readonly" class="fieldValue"/>
                        </div>
                    </li>
                </ol>
            </fieldset>
            <!-- END Audit Trail-->
        </form>
    </div>
</div>
<!-- end of panel frame -->
<form id="dlg-download-customer" class="jqmWindow">
  <div class="dlg-title-block">
    <span class="dlg-title-text">Download / Update Customer</span>
  </div>
  <!-- content container -->
  <div class="DlgContentWrapper">
    <!-- for dealing with IE6 max-height emulation -->
    <div class="dlg-content-block" >
      <fieldset class="cssform left-label">
        <ol>
          <li>
            <label for="dlg-txt-ship-to-code">Ship to Code<span class="required-mark"> *</span></label>
            <input type="text" id="dlg-txt-ship-to-code" name="ShipToCode" title="Ship to Code is required" class="required form-control"/>
          </li>
          <li>
            <label for="txt-sales-org">Sales Organization<span class="required-mark"> *</span></label>
            <input type="text" id="txt-sales-org" name="SalesOrganization" title="Sales Organization is required" class="required form-control" value="1099"/>
          </li>
          <li>
            <label for="txt-distribution-channel">Distribution Channel<span class="required-mark"> *</span></label>
            <input type="text" id="txt-distribution-channel" name="DistributionChannel" title="Distribution Channel is required" class="required form-control" value="10"/>
          </li>
        </ol>
      </fieldset>
    </div>
    <!-- .DlgContent -->
    <div class="dlg-button-block bg-grey-gallery">
      <input type="button" value="OK" class="dlg-tool-cmd-save"/>
      <input type="button" value="Cancel" class="dlg-tool-cmd-cancel"/>
    </div>
  </div>
  <!-- .DlgContentWrapper -->
</form>
