﻿@{
    ViewBag.Title = "Tank Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jqGrid-4.7.0/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/silk-sprite/silk-sprite.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/cinovasi.widget.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="@Url.Content("~/Scripts/underscore-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ajaxmanager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone.sync.ajaxman.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/i18n/grid.locale-en.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/minified/jquery.jqGrid.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquerytools/src/tabs/tabs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.field.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.metadata.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/date.format.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.foundation.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.widget.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/TankTicket/model.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/TankTicket/tabview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/TankTicket/gridview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/TankTicket/filterview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/TankTicket/formview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/TankTicket/dlgnewform.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/TankTicket/router.js")"></script>

<style type="text/css">

</style>

<div id="pnl-frame">
    <ul class="tabs">
        <li>
            <a href="#pnl-grid">Grid</a>
        </li>
        <li>
            <a href="#pnl-form">Form</a>
        </li>
    </ul>
    <!-- panel grid -->
    <div id="pnl-grid" class="panes">
        <div class="panel-group" id="pnl-search" role="tablist" aria-multiselectable="true">
            <div class="panel panel-darkblue">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#pnl-search" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Tank Ticket
                        </a>
                        <div class="float-right">
                            @if (ViewBag.New)
                            {
                                <a href="#new" style="color:#fff;">
                                    <span class="ui-silk ui-silk-application-add"></span>Create Tank Ticket
                                </a>
                            }
                        </div>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="pnl-search" class="pnl-search bg-grey-gallery">
                            <form style="" id="form-search" action="javascript:void(0);">
                            <!-- Toolbar Front Page -->
                            <fieldset class="pnl-button">
                                <ol>
                                    <li>
                                        <button class="button cmd-refresh">
                                        <span class="ui-silk ui-silk-arrow-refresh"></span> Refresh
                                        </button>
                                    </li>
                                    <li>
                                        <button class="button cmd-reset-filter">
                                        <span class="ui-silk ui-silk-arrow-rotate-clockwise"></span> Reset Filter
                                        </button>
                                    </li>
                                    <li>
                                        <button class="button cmd-export">
                                        <span class="ui-silk ui-silk-page-white-excel"></span> Export Excel
                                        </button>
                                    </li>
                                </ol>
                            </fieldset>
                            <fieldset class="search-param">
                                <ol>
                                    <li class="search-item">
                                        <label for="flt-tank-ticket-number">Tank Ticket Number</label>
                                        <input type="text" size="10" id="flt-tank-ticket-number" name="fltTankTicketNumber" class="input-control" title="press ENTER to trigger search"/>
                                    </li>
                                    <li class="search-item">
                                        <label for="flt-tank">Tank</label>
                                        <select id="flt-tank" name="fltTank" class="input-control" title="press ENTER to trigger search">
                                            <option value="">--</option>
                                            @foreach (FDM.Models.Tank t in ViewBag.Tank)
                                            { 
                                                <option value="@t.Name">@t.Name</option>                                    
                                            }
                                        </select>
                                    </li>
                                    <li class="search-item">
                                        <label for="flt-operation-type">Operation Type</label>
                                        <select id="flt-operation-type" name="fltOperationType" class="input-control" title="press ENTER to trigger search">
                                            <option value="">--</option>
                                            <option value="Intertank">Intertank</option>
                                            <option value="Receiving">Receiving</option>
                                            <option value="Sales">Sales</option>
                                            <option value="Receiving Sales">Receiving Sales</option>
                                        </select>
                                    </li>
                                    <li class="search-item">
                                        <label for="flt-operation-status">Operation Status</label>
                                        <select id="flt-operation-status" name="fltOperationStatus" class="input-control" title="press ENTER to trigger search">
                                            <option value="">--</option>
                                            <option value="Close">Close</option>
                                            <option value="Open">Open</option>
                                        </select>
                                    </li>
                                    <li class="search-item">
                                        <label for="flt-timestamp-from">Timestamp from</label>
                                        <input id="flt-timestamp-from" type="text" class="input-control" style="width:130px" title="press ENTER to trigger search" name="fltTimestampFromX"/>
                                        <input type="hidden" id="hdn-timestamp-from" name="fltTimestampFrom"/>
                                    </li>
                                    <li class="search-item">
                                        <label for="flt-timestamp-to">to</label>
                                        <input id="flt-timestamp-to" type="text" class="input-control" style="width:130px" title="press ENTER to trigger search" name="fltTimestampToX"/>
                                        <input type="hidden" id="hdn-timestamp-to" name="fltTimestampTo"/>
                                    </li>
                                </ol>
                            </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jq grid -->
        <div id="pnl-grid-container" >
            <table id="tbl-tank-ticket"></table>
            <div id="tbl-tank-ticket-pager"></div>
        </div>
    </div>
    <!-- end of panel grid -->
    <div id="pnl-form" class="panes">
        <div class="form-top-toolbar">
            <fieldset>
                <ol>
                    <li>
                        <button class="button cmd-back btn btn-darkblue">
                            <a href="#" class="toolbar-item" style="color:#fff";>
                            <span class="ui-silk ui-silk-control-rewind-blue"></span> Back to List
                            </a>
                        </button>
                    </li>
                    @if (ViewBag.Update)
                    {
                    <li>
                        <button class="button cmd-edit btn btn-darkblue">
                        <span class="ui-silk ui-silk-pencil"></span> Edit
                        </button>
                    </li>
                    }
                    <li>
                        <button id="btn-save" class="button cmd-save btn btn-darkblue">
                        <span class="ui-silk ui-silk-disk"></span> Save
                        </button>
                    </li>
                </ol>
            </fieldset>
        </div>
        <form id="the-form" class="the-form">
            <div class="server-msg pnl-msg"></div>
            <div class="client-msg pnl-msg"></div>
            <!-- DETAIL Information -->
            <fieldset class="cssform left-label">
            <legend>Tank Ticket Details</legend>
                <ol>
                    <li>
                        <label for="txt-tank-ticket-number">Tank Ticket Number<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-tank-ticket-number" name="TankTicketNumber" title="Tank Ticket Number is required" class="required" style="width:50px"/>
                            <span class="fieldValue"></span>
                            <input type="text" id="txt-tank-ticket-number-extension" readonly="readonly" />
                        </div>
                    </li>
                    <li>
                        <label for="txt-tank-name">Tank Name<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-tank-name" name="TankName" title="Tank Name is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-timestamp">Timestamp<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-timestamp" name="Timestamp" title="Timestamp is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-operation-type">Operation Type<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-operation-type" name="OperationType" title="Operation Type is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-operation-status">Operation Status<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-operation-status" name="OperationStatus" title="Operation Status is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-measurement-type">Measurement Type<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-measurement-type" name="MeasurementType" title="Measurement Type is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                </ol>
            </fieldset>
            <fieldset class="cssform left-label">
            <legend>Tank Live Data Details</legend>
                <ol>
                    <li>
                        <label for="txt-liquid-level">Liquid Level (mm)<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-liquid-level" name="LiquidLevel" title="Liquid Level is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-liquid-water">Liquid Water (mm)<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-liquid-water" name="LiquidWater" title="Liquid Water is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-liquid-temperature">Liquid Temperature (°C)<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-liquid-temperature" name="LiquidTemperature" title="Liquid Temperature is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-liquid-density">Liquid Density (kg/cm<sup>3</sup><span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-liquid-density" name="LiquidDensity" title="Liquid Density is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-liquid-density15">Liquid Density 15°C (kg/cm<sup>3</sup>)<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-liquid-density15" name="LiquidDensity15" title="Liquid Density 15 is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-liquid-vol-obs">Liquid Vol Obs (m<sup>3</sup>)<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-liquid-vol-obs" name="LiquidVolObs" title="Liquid Vol Obs is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-total-obs-vol">Liquid Vol Obs (ATG) (m<sup>3</sup>)</label>
                        <div>
                            <input type="text" id="txt-total-obs-vol" name="TotalObservedVolume" title="Total Observed Volume is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-liquid-vol-15">Liquid Vol 15°C (m<sup>3</sup>)<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-liquid-vol-15" name="LiquidVol15" title="Liquid Vol 15 is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-liquid-mass">Liquid Mass (Kg)<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-liquid-mass" name="LiquidMass" title="Liquid Mass is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-liquid-pressure">Liquid Pressure (Kg/cm<sup>2</sup>)<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-liquid-pressure" name="LiquidPressure" title="Liquid Pressure is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-liquid-volume-correction-factor">Liquid Vol. Correction Factor<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-liquid-volume-correction-factor" name="LiquidVolumeCorrectionFactor" title="Liquid Volume Correction Factor is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-liquid-density-multiplier">Liquid Density Multiplier<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-liquid-density-multiplier" name="LiquidDensityMultiplier" title="Liquid Density Multiplier is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                </ol>
            </fieldset>
            <!-- Audit Trail -->
            <fieldset class="cssform left-label">
            <legend>Audit Trail</legend>
                <ol>
                    <li>
                        <label>Date Created</label>
                        <div>
                            <span id="lbl-insert-date" name="CreatedTimestamp" class="fieldValue" readonly="readonly"/>
                        </div>
                    </li>
                    <li>
                        <label>Created By</label>
                        <div>
                            <span id="lbl-insert-by" name="CreatedByName" readonly="readonly" class="fieldValue"/>
                        </div>
                    </li>
                    <li>
                        <label>Date Last Updated</label>
                        <div>
                            <span id="lbl-last-updated-date" name="UpdatedTimestamp" readonly="readonly" class="fieldValue"/>
                        </div>
                    </li>
                    <li>
                        <label>Last Updated By</label>
                        <div>
                            <span id="lbl-last-updated-by" name="CreatedByName" readonly="readonly" class="fieldValue"/>
                        </div>
                    </li>
                </ol>
            </fieldset>
            <!-- END Audit Trail-->
        </form>
    </div>
</div>
<!-- end of panel frame -->
<form id="dlg-new-form" class="jqmWindow" style="min-width:750px;left:25%">
  <div class="dlg-title-block">
    <span class="dlg-title-text">Create New Tank Ticket</span>
  </div>
  <!-- content container -->
  <div class="DlgContentWrapper">
    <!-- for dealing with IE6 max-height emulation -->
    <div class="dlg-content-block" >
        <div class="row">
            <div class="col-xs-6">
                <!-- table -->
                <div id="tank-in-operation">
                </div>
            </div>
            <div class="col-xs-6">
                <!-- form -->
                <fieldset class="cssform left-label" style="margin-top:-30px">
                <ol>
                    <li>
                    <label for="txt-tank-name">Tank Name<span class="required-mark"> *</span></label>
                        <select id="ddl-tank-name" name="TankName" title="Tank Name is required" class="required form-control">
                        <option value="">--</option>
                            @foreach (FDM.Models.Tank t in ViewBag.Tank)
                            { 
                            <option value="@t.Name">@t.Name</option>                                    
                            }
                        </select>
                    </li>
                    <li>
                        <label for="ddl-operation-type">Operation Type<span class="required-mark"> *</span></label>
                        <select id="ddl-operation-type"  name="OperationType" class="required form-control" title="Operation Type is required"> 
                        </select>
                    </li>
                    <li>
                        <label for="ddl-operation-status">Operation Status<span class="required-mark"> *</span></label>
                        <select id="ddl-operation-status" name="OperationStatus" class="required form-control" title="Operation Status is required">
                        </select>
                    </li>
                    <li>
                        <label for="ddl-measurement-method">Measurement Type<span class="required-mark"> *</span></label>
                        <select id="ddl-measurement-method" name="MeasurementType" class="required form-control" title="Measurement Type is required">
                        <option value="Auto">Automatic</option>
                        <option value="Manual">Manual Dipping</option>
                        </select>
                    </li>
                </ol>
                </fieldset>
            </div>
        </div>
    </div>
    <!-- .DlgContent -->
    <div class="dlg-button-block bg-grey-gallery">
      <input type="button" value="OK" class="dlg-tool-cmd-save"/>
      <input type="button" value="Cancel" class="dlg-tool-cmd-cancel"/>
    </div>
  </div>
  <!-- .DlgContentWrapper -->
</form>

