﻿@{
    ViewBag.Title = "Distribution Monitoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jqGrid-4.7.0/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/silk-sprite/silk-sprite.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/cinovasi.widget.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/chosen.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/jquery.datetimepicker.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="@Url.Content("~/Scripts/underscore-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ajaxmanager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone.sync.ajaxman.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/i18n/grid.locale-en.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/minified/jquery.jqGrid.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquerytools/src/tabs/tabs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.field.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.metadata.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/date.format.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.foundation.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.widget.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/chosen.jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.datetimepicker.full.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/model.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/tabview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/gridview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/filterview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/administrationformview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/gateinformview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/gateoutformview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/fillingformview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/weightingformview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/detailformview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/router.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/gridtruckloadingplanning.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/gridtruckloadingsecurityseal.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/gridtruckloadingrecord.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/gridfilling.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/gridweighting.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/dlgtruckloadingplanning.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/dlgtruckloadingsecurityseal.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/dlgtruckloadingrecord.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/dlgfilling.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/dlgweighting.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/dlgmanualentry.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionMonitoring/dlgloadedcfsuser.js")"></script>

<style type="text/css">
</style>

<div id="pnl-frame">
    <ul class="tabs">
        <li>
            <a href="#pnl-grid">Grid</a>
        </li>
        <li>
            <a href="#pnl-administration">Administration</a>
        </li>
        <li>
            <a href="#pnl-gate-in">Gate In</a>
        </li>
        <li>
            <a href="#pnl-gate-out">Gate Out</a>
        </li>
        <li>
            <a href="#pnl-filling">Filling</a>
        </li>
        <li>
            <a href="#pnl-weighting">Weighting</a>
        </li>
        <li>
            <a href="#pnl-detail">Detail</a>
        </li>
    </ul>
    <!-- panel grid -->
    <div id="pnl-grid" class="panes">
        <div class="panel-group" id="pnl-search" role="tablist" aria-multiselectable="true">
            <div class="panel panel-darkblue">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#pnl-search" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Distribution Monitoring
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="pnl-search" class="pnl-search bg-grey-gallery">
                            <form style="" id="form-search" action="javascript:void(0);">
                                <!-- Toolbar Front Page -->
                                <fieldset class="pnl-button">
                                    <ol>
                                        <li>
                                            <button class="button cmd-refresh">
                                                <span class="ui-silk ui-silk-arrow-refresh"></span> Refresh
                                            </button>
                                        </li>
                                        <li>
                                            <button class="button cmd-reset-filter">
                                                <span class="ui-silk ui-silk-arrow-rotate-clockwise"></span> Reset Filter
                                            </button>
                                        </li>
                                        @*<li>
                                            <button class="button cmd-export">
                                                <span class="ui-silk ui-silk-page-white-excel"></span> Export Excel
                                            </button>
                                        </li>*@
                                        <li>
                                            <button class="button cmd-manual-entry">
                                                <span class="ui-silk ui-silk-door-in"></span> Manual Entry
                                            </button>
                                        </li>
                                    </ol>
                                </fieldset>
                                <fieldset class="search-param">
                                    <ol>
                                        <!--<li class="search-item">
        <label for="flt-registration-plate">Registration Plate</label>
        <input type="text" size="10" id="flt-registration-plate" name="fltRegistrationPlate" class="input-control"/>
    </li>-->
                                        <!--<li class="search-item">
        <label for="flt-spa-number">SPA Number</label>
        <input type="text" size="10" id="flt-spa-number" name="fltSPANumber" class="input-control"/>
    </li>*-->
                                        <li class="search-item">
                                            <label for="flt-do-number">DO Number</label>
                                            <input style="width:130px" type="text" size="10" id="flt-do-number" name="fltDONumber" class="input-control" />
                                        </li>
                                        <li class="search-item">
                                            <label for="flt-shipment-status">Shipment Status</label>
                                            <select id="flt-shipment-status" name="fltShipmentStatus" class="input-control" title="press ENTER to trigger search">
                                                <option value="">Show All</option>
                                                <option value="1">Administration</option>
                                                <option value="2">In Progress</option>
                                                <option value="3">Completed</option>
                                            </select>
                                        </li>
                                        @*<li class="search-item">
                                            <label for="flt-company">Company</label>
                                            <select id="flt-company" name="fltCompany" class="input-control" title="press ENTER to trigger search">
                                                <option value="">--</option>
                                                @foreach (CFS.Models.Company u in ViewBag.Company)
                                                {
                                                    <option value="@u.CompanyId">@u.CompanyName</option>
                                                }
                                            </select>
                                        </li>*@
                                        <li class="search-item">
                                            <label for="flt-timestamp-from">Start Gate In from</label>
                                            <input id="flt-timestamp-from" type="text" class="input-control" style="width:130px" title="press ENTER to trigger search" name="fltTimestampFromX" />
                                            <input type="hidden" id="hdn-timestamp-from" name="fltTimestampFrom" />
                                        </li>
                                        <li class="search-item">
                                            <label for="flt-timestamp-to">to</label>
                                            <input id="flt-timestamp-to" type="text" class="input-control" style="width:130px" title="press ENTER to trigger search" name="fltTimestampToX" />
                                            <input type="hidden" id="hdn-timestamp-to" name="fltTimestampTo" />
                                        </li>
                                    </ol>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jq grid -->
        <div id="pnl-grid-container">
            <table id="tbl-distribution-monitoring"></table>
            <div id="tbl-distribution-monitoring-pager"></div>
        </div>
    </div>
    <!-- end of panel grid -->
    <!-- Administration Manual -->
    <div id="pnl-administration" class="panes">
        <div class="form-top-toolbar">
            <fieldset>
                <ol>
                    <li>
                        <button class="button cmd-back btn btn-darkblue">
                            <a href="#" class="toolbar-item" style="color:#fff" ;>
                                <span class="ui-silk ui-silk-control-rewind-blue"></span> Back to List
                            </a>
                        </button>
                    </li>
                    <li>
                        <button class="button cmd-edit btn btn-darkblue">
                            <span class="ui-silk ui-silk-pencil"></span> Edit
                        </button>
                    </li>
                    <li>
                        <button id="btn-save" class="button cmd-save btn btn-darkblue">
                            <span class="ui-silk ui-silk-disk"></span> Save Administration
                        </button>
                    </li>
                </ol>
            </fieldset>
        </div>
        <form id="the-form" class="the-form">
            <div class="server-msg pnl-msg"></div>
            <div class="client-msg pnl-msg"></div>
            <!-- DETAIL Information -->
            <div class="row">
                <div class="col-md-6">
                    <fieldset class="cssform left-label">
                        <legend>Administration - Truck Detail</legend>
                        <ol>
                            <li>
                                <label for="txt-truck-registration-plate">Truck Registration Plate<span class="required-mark"> *</span></label>
                                <div>
                                    <select class="chosen-select required" data-placeholder="Select Truck.." id="txt-truck-registration-plate" name="TruckId" title="Truck is required">
                                        <option></option>
                                        @foreach (CFS.Models.Truck truck in ViewBag.Truck)
                                        {
                                            <option value="@truck.TruckId">@truck.RegistrationPlate</option>

                                        }
                                    </select>
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-truck-tare-weight">Truck Tare Weight (Kg)</label>
                                <div>
                                    <span class="fieldValue" id="lbl-truck-tare-weight"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-truck-safe-capacity">Truck Safe Capacity (Kg)</label>
                                <div>
                                    <span class="fieldValue" id="lbl-truck-safe-capacity"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-tank-tera-timestamp">Tank TERA Expired Date</label>
                                <div>
                                    <span class="fieldValue" id="lbl-tank-tera-timestamp"></span>
                                </div>
                            </li>
                        </ol>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="cssform left-label">
                        <legend>Administration - Driver Detail</legend>
                        <ol>
                            <li>
                                <label for="txt-driver-id">Driver<span class="required-mark"> *</span></label>
                                <div>
                                    <select class="chosen-select required" data-placeholder="Select Driver.." id="txt-driver-id" name="DriverId" title="Driver is required">
                                        <option></option>
                                        @foreach (CFS.Models.Driver driver in ViewBag.Driver)
                                        {
                                            <option value="@driver.DriverId">@driver.BadgeNumber - @driver.Name</option>

                                        }
                                    </select>
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                        </ol>
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset class="cssform left-label">
                        <legend>Delivery Order</legend>
                        <p>
                            <input id="btn-add-delivery-order" type="button" value="Add DO" class="btn btn-primary btn-sm" />
                            <input id="btn-reset-delivery-order" type="button" value="Reset DO" class="btn btn-danger btn-sm" />
                        </p>
                        <ol>
                            <li>
                                <label for="txt-delivery-order-number">DO Number</label>
                                <input type="text" id="txt-delivery-order-number" name="DeliveryOrderNumber" title="required" class="" readonly="readonly" />
                                <div>
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                        </ol>
                    </fieldset>
                    <p class="required-mark"> * Please select vessel document & filling point each product</p>
                    <table id="tbl-delivery-order" cellspacing="0" cellpadding="0"></table>
                </div>
                <div class="col-md-12">
                    <fieldset class="cssform left-label">
                        <legend>Truck Loading Security Seal</legend>
                        <p>
                            <input id="btn-add-truck-loading-security-seal" type="button" value="Add Seal" class="btn btn-primary btn-sm" />
                        </p>
                        <table id="tbl-truck-loading-security-seal" cellspacing="0" cellpadding="0"></table>
                    </fieldset>
                </div>
            </div>
            <!-- Audit Trail -->
            <fieldset class="cssform left-label">
                <legend>Audit Trail</legend>
                <ol>
                    <li>
                        <label>Date Created</label>
                        <div>
                            <span id="lbl-insert-date" name="CreatedTimestamp" class="fieldValue" readonly="readonly" />
                        </div>
                    </li>
                    <li>
                        <label>Created By</label>
                        <div>
                            <span id="lbl-insert-by" name="CreatedByName" readonly="readonly" class="fieldValue" />
                        </div>
                    </li>
                    <li>
                        <label>Date Last Updated</label>
                        <div>
                            <span id="lbl-last-updated-date" name="UpdatedTimestamp" readonly="readonly" class="fieldValue" />
                        </div>
                    </li>
                    <li>
                        <label>Last Updated By</label>
                        <div>
                            <span id="lbl-last-updated-by" name="CreatedByName" readonly="readonly" class="fieldValue" />
                        </div>
                    </li>
                </ol>
            </fieldset>
            <!-- END Audit Trail-->
        </form>
    </div>
    <!-- end of panel form -->
    <!-- panel gate in -->
    <div id="pnl-gate-in" class="panes">
        <div class="form-top-toolbar">
            <fieldset>
                <ol>
                    <li>
                        <button class="button cmd-back btn btn-darkblue">
                            <a href="#" class="toolbar-item" style="color:#fff" ;>
                                <span class="ui-silk ui-silk-control-rewind-blue"></span> Back to List
                            </a>
                        </button>
                    </li>
                    <li>
                        <button class="button cmd-edit btn btn-darkblue">
                            <span class="ui-silk ui-silk-pencil"></span> Edit
                        </button>
                    </li>
                    <li>
                        <button id="btn-save" class="button cmd-save btn btn-darkblue">
                            <span class="ui-silk ui-silk-disk"></span> Gate In
                        </button>
                    </li>
                </ol>
            </fieldset>
        </div>
        <form id="the-form" class="the-form">
            <div class="server-msg pnl-msg"></div>
            <div class="client-msg pnl-msg"></div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="cssform left-label">
                        <legend>Gate In - Truck Detail</legend>
                        <ol>
                            <li>
                                <label for="txt-gate-in-truck-registration-plate">Truck Registration Plate<span class="required-mark"> *</span></label>
                                <div>
                                    <select class="chosen-select required" data-placeholder="Select Truck.." id="ddl-truck-gate-in" name="TruckLoadingId" title="Truck is required">
                                        <option></option>
                                    </select>
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                        </ol>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    <!-- end of panel gate in -->
    <!-- panel gate out -->
    <div id="pnl-gate-out" class="panes">
        <div class="form-top-toolbar">
            <fieldset>
                <ol>
                    <li>
                        <button class="button cmd-back btn btn-darkblue">
                            <a href="#" class="toolbar-item" style="color:#fff" ;>
                                <span class="ui-silk ui-silk-control-rewind-blue"></span> Back to List
                            </a>
                        </button>
                    </li>
                    <li>
                        <button class="button cmd-edit btn btn-darkblue">
                            <span class="ui-silk ui-silk-pencil"></span> Edit
                        </button>
                    </li>
                    <li>
                        <button id="btn-save" class="button cmd-save btn btn-darkblue">
                            <span class="ui-silk ui-silk-disk"></span> Gate Out
                        </button>
                    </li>
                </ol>
            </fieldset>
        </div>
        <form id="the-form" class="the-form">
            <div class="server-msg pnl-msg"></div>
            <div class="client-msg pnl-msg"></div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="cssform left-label">
                        <legend>Gate Out - Truck Detail</legend>
                        <ol>
                            <li>
                                <label for="txt-gate-out-truck-registration-plate">Truck Registration Plate<span class="required-mark"> *</span></label>
                                <div>
                                    <select class="chosen-select required" data-placeholder="Select Truck.." id="ddl-truck-gate-out" name="TruckLoadingId" title="Truck is required">
                                        <option></option>
                                    </select>
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                        </ol>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    <!-- end of panel gate out -->
    <!-- panel filling -->
    <div id="pnl-filling" class="panes">
        <div class="form-top-toolbar">
            <fieldset>
                <ol>
                    <li>
                        <button class="button cmd-back btn btn-darkblue">
                            <a href="#" class="toolbar-item" style="color:#fff" ;>
                                <span class="ui-silk ui-silk-control-rewind-blue"></span> Back to List
                            </a>
                        </button>
                    </li>
                    <li>
                        <button class="button cmd-edit btn btn-darkblue">
                            <span class="ui-silk ui-silk-pencil"></span> Edit
                        </button>
                    </li>
                    <li>
                        <button id="btn-save" class="button cmd-save btn btn-darkblue">
                            <span class="ui-silk ui-silk-disk"></span> Save Filling
                        </button>
                    </li>
                </ol>
            </fieldset>
        </div>
        <form id="the-form" class="the-form">
            <div class="server-msg pnl-msg"></div>
            <div class="client-msg pnl-msg"></div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="cssform left-label">
                        <legend>Filling</legend>
                        <ol>
                            <li>
                                <label for="txt-filling-delivery-order">Delivery Order Number<span class="required-mark"> *</span></label>
                                <div>
                                    <select class="chosen-select required" data-placeholder="Select DO.." id="ddl-filling-delivery-order" name="TruckLoadingId" title="DO is required">
                                        <option></option>
                                    </select>
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <table id="tbl-filling" cellspacing="0" cellpadding="0"></table>
                            </li>
                        </ol>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    <!-- end of panel filling -->
    <!-- panel weighting -->
    <div id="pnl-weighting" class="panes">
        <div class="form-top-toolbar">
            <fieldset>
                <ol>
                    <li>
                        <button class="button cmd-back btn btn-darkblue">
                            <a href="#" class="toolbar-item" style="color:#fff" ;>
                                <span class="ui-silk ui-silk-control-rewind-blue"></span> Back to List
                            </a>
                        </button>
                    </li>
                    <li>
                        <button class="button cmd-edit btn btn-darkblue">
                            <span class="ui-silk ui-silk-pencil"></span> Edit
                        </button>
                    </li>
                    <li>
                        <button id="btn-save" class="button cmd-save btn btn-darkblue">
                            <span class="ui-silk ui-silk-disk"></span> Submit Weight Out
                        </button>
                    </li>
                </ol>
            </fieldset>
        </div>
        <form id="the-form" class="the-form">
            <div class="server-msg pnl-msg"></div>
            <div class="client-msg pnl-msg"></div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="cssform left-label">
                        <legend>Weighting</legend>
                        <ol>
                            <li>
                                <label for="txt-weighting-delivery-order-number">DO Number<span class="required-mark"> *</span></label>
                                <div>
                                    <select class="chosen-select required" data-placeholder="Select Delivery Order.." id="ddl-weighting-delivery-order-number" name="DeliveryOrderNumber" title="Truck is required">
                                        <option></option>
                                    </select>
                                    <span class="fieldValue"></span>
                                </div>
                                <input type="hidden" id="hdn-truck-loading-id-weighting" />
                            </li>
                            <li>
                                <table id="tbl-weighting" cellspacing="0" cellpadding="0"></table>
                            </li>
                        </ol>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    <!-- end of panel weighting -->
    <!-- panel detail -->
    <div id="pnl-detail" class="panes">
        <div class="form-top-toolbar">
            <fieldset>
                <ol>
                    <li>
                        <button class="button cmd-back btn btn-darkblue">
                            <a href="#" class="toolbar-item" style="color:#fff" ;>
                                <span class="ui-silk ui-silk-control-rewind-blue"></span> Back to List
                            </a>
                        </button>
                    </li>
                    <li>
                        <button class="button cmd-edit btn btn-darkblue">
                            <span class="ui-silk ui-silk-pencil"></span> Edit
                        </button>
                    </li>
                    <li>
                        <button id="btn-save" class="button cmd-save btn btn-darkblue">
                            <span class="ui-silk ui-silk-disk"></span> Update
                        </button>
                    </li>
                </ol>
            </fieldset>
        </div>
        <form id="the-form" class="the-form">
            <div class="server-msg pnl-msg"></div>
            <div class="client-msg pnl-msg"></div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="cssform left-label">
                        <legend>Truck Detail</legend>
                        <ol>
                            <li>
                                <label for="txt-truck-registration-plate-detail">Truck Registration Plate</label>
                                <div>
                                    <select class="chosen-select required" data-placeholder="Select Truck.." id="txt-truck-registration-plate-detail" name="TruckId" title="Truck is required">
                                        <option></option>
                                        @foreach (CFS.Models.Truck truck in ViewBag.Truck)
                                        {
                                            <option value="@truck.TruckId">@truck.RegistrationPlate</option>

                                        }
                                    </select>
                                    <span class="fieldValue" id="txt-truck-registration-plate-detail"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-driver-detail">Driver</label>
                                <div>
                                    <select class="chosen-select required" data-placeholder="Select Driver.." id="txt-driver-id-edit" name="DriverId" title="Driver is required">
                                        <option></option>
                                        @foreach (CFS.Models.Driver driver in ViewBag.Driver)
                                        {
                                            <option value="@driver.DriverId">@driver.Name</option>

                                        }
                                    </select>
                                    <span class="fieldValue" id="txt-driver-detail"></span>
                                </div>
                            </li>
                        </ol>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <fieldset class="cssform left-label">
                        <legend>Administration Detail</legend>
                        <ol>
                            <li>
                                <label for="txt-administration-timestamp-detail">Timestamp</label>
                                <div>
                                    <input type="text" id="txt-administration-timestamp-detail" name="AdministrationTimestampText" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-administration-location-detail">Location</label>
                                <div>
                                    <input type="text" id="txt-administration-location-detail" name="AdministrationLocation" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-administration-user-detail">User</label>
                                <div>
                                    <input type="text" id="txt-administration-user-detail" name="AdministrationUser" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-administration-mode-edit">Mode</label>
                                <div>
                                    <input type="text" id="txt-administration-mode-edit" name="AdministrationMode" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-administration-description-detail">Description</label>
                                <div>
                                    <input type="text" id="txt-administration-description-detail" name="AdministrationDescription" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                        </ol>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="cssform left-label">
                        <legend>Gate In Detail</legend>
                        <ol>
                            <li>
                                <label for="txt-gatein-timestamp-detail">Timestamp</label>
                                <div>
                                    <input type="text" id="txt-gatein-timestamp-detail" name="GateInTimestampText" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-gatein-location-detail">Location</label>
                                <div>
                                    <input type="text" id="txt-gatein-location-detail" name="GateInLocation" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-gatein-user-detail">User</label>
                                <div>
                                    <input type="text" id="txt-gatein-user-detail" name="GateInUser" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-gatein-mode-detail">Mode</label>
                                <div>
                                    <input type="text" id="txt-gatein-mode-detail" name="GateInMode" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-gatein-description-detail">Description</label>
                                <div>
                                    <input type="text" id="txt-gatein-description-detail" name="GateInDescription" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                        </ol>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <fieldset class="cssform left-label">
                        <legend>Loading Detail</legend>
                        <ol>
                            <li>
                                <label for="txt-loaded-timestamp-detail">Timestamp</label>
                                <div>
                                    <input type="text" id="txt-loaded-timestamp-detail" name="LoadedTimestampText" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-loaded-location-detail">Location</label>
                                <div>
                                    <input type="text" id="txt-loaded-location-detail" name="LoadedLocation" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-loaded-user-detail">User</label>
                                <div>
                                    <input type="text" id="txt-loaded-user-detail" name="LoadedUser" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-loaded-cfs-user-detail">CFS Operator</label>
                                <div>
                                    <input type="text" id="txt-loaded-cfs-user-detail" name="LoadedCFSUser" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-loaded-mode-detail">Mode</label>
                                <div>
                                    <input type="text" id="txt-loaded-mode-detail" name="LoadedMode" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-loaded-description-detail">Description</label>
                                <div>
                                    <input type="text" id="txt-loaded-description-detail" name="LoadedDescription" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                        </ol>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="cssform left-label">
                        <legend>Gate Out Detail</legend>
                        <ol>
                            <li>
                                <label for="txt-gateout-timestamp-detail">Timestamp</label>
                                <div>
                                    <input type="text" id="txt-gateout-timestamp-detail" name="GateOutTimestampText" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-gateout-location-detail">Location</label>
                                <div>
                                    <input type="text" id="txt-gateout-location-detail" name="GateOutLocation" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-gateout-user-detail">User</label>
                                <div>
                                    <input type="text" id="txt-gateout-user-detail" name="GateOutUser" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-gateout-mode-detail">Mode</label>
                                <div>
                                    <input type="text" id="txt-gateout-mode-detail" name="GateOutMode" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-gateout-description-detail">Description</label>
                                <div>
                                    <input type="text" id="txt-gateout-description-detail" name="GateOutDescription" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                        </ol>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="cssform left-label">
                        <legend>Shipment & Good Issue Detail</legend>
                        <ol>
                            <li>
                                <label for="txt-delivery-order-number">Delivery Order Number</label>
                                <div>
                                    <input type="text" id="txt-delivery-order-number-detail" name="DeliveryOrderNumber" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-shipment-status-detail">Shipment Status</label>
                                <div>
                                    <input type="text" id="txt-shipment-status-detail" name="ShipmentStatusText" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-is-good-issue-success-detail">Is Good Issue Success</label>
                                <div>
                                    <input type="text" id="txt-is-good-issue-success-detail" name="IsGoodIssueSucceedText" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-good-issue-message-detail">Good Issue Message</label>
                                <div>
                                    <input type="text" id="txt-good-issue-message-detail" name="GoodIssueMessage" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-good-issue-timestamp-detail">Good Issue Timestamp</label>
                                <div>
                                    <input type="text" id="txt-good-issue-timestamp-detail" name="GoodIssueTimestampText" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                            <li>
                                <label for="txt-remarks-detail">Remarks</label>
                                <div>
                                    <input type="text" id="txt-remarks-detail" name="Remarks" title="" class="" />
                                    <span class="fieldValue"></span>
                                </div>
                            </li>
                        </ol>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="cssform left-label">
                        <legend>Planning</legend>
                        <table id="tbl-truck-loading-planning-detail" cellspacing="0" cellpadding="0"></table>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="cssform left-label">
                        <legend>Security Seal</legend>
                        <table id="tbl-truck-loading-security-seal-detail" cellspacing="0" cellpadding="0"></table>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    <!-- end of panel detail -->
</div> <!-- end of pnl frame -->
<!-- dlg manual entry -->
<form id="dlg-manual-entry" class="jqmWindow" onSubmit="return false;">
    <div class="dlg-title-block">
        <span class="dlg-title-text">Manual Entry</span>
    </div>
    <!-- content container -->
    <div class="DlgContentWrapper">
        <!-- for dealing with IE6 max-height emulation -->
        <div class="dlg-content-block">
            <fieldset class="cssform left-label">
                <ol>
                    <li>
                        <label for="txt-mode">Mode<span class="required-mark"> *</span></label>
                        <select class="required form-control" id="txt-mode" name="Mode" title="Mode is required">
                            <option></option>
                            <option value="Administration">Administration (Master DO)</option>
                            <!--<option value="GateIn">Gate In</option>-->
                            <option value="Filling">Filling (Pengisian Flow Meter)</option>
                            <option value="Weighting">Weighting (Timbang Isi)</option>
                            <!--<option value="GateOut">Gate Out</option>-->
                        </select>
                    </li>
                </ol>
            </fieldset>
        </div>
        <!-- .DlgContent -->
        <div class="dlg-button-block bg-grey-gallery">
            <input type="button" value="OK" class="dlg-tool-cmd-save" />
            <input type="button" value="Cancel" class="dlg-tool-cmd-cancel" />
        </div>
    </div>
    <!-- .DlgContentWrapper -->
</form>
<!-- end dlg manual entry -->
<!-- dlg truck loading planning -->
<form id="dlg-truck-loading-planning" class="jqmWindow" style="width: 650px;">
    <div class="dlg-title-block">
        <span class="dlg-title-text">Truck Loading Planning</span>
    </div>
    <!-- content container -->
    <div class="DlgContentWrapper">
        <!-- for dealing with IE6 max-height emulation -->
        <div class="dlg-content-block" style="min-height:200px;overflow:visible;">
            <fieldset class="cssform left-label" style="min-height:155px">
                <ol>
                    <li class="insert-plan">
                        <label for="txt-administration-delivery-order-number">DO Number<span class="required-mark"> *</span></label>
                        <input type="text" id="txt-administration-delivery-order-number" name="DeliveryOrderNumber" class="required form-control" title="Delivery Order Number is required" />
                    </li>
                    <li class="update-plan">
                        <label for="txt-administration-product-name">Product Name</label>
                        <input type="text" id="txt-administration-product-name" name="ProductName" class="required form-control" title="Product Name is required" readonly="readonly" style="width:350px;" />
                        <span class="fieldValue"></span>
                    </li>
                    <li class="update-plan">
                        <label for="txt-administration-preset">Preset</label>
                        <input type="text" id="txt-administration-preset" name="Preset" class="required form-control" title="Preset is required" readonly="readonly" style="width:350px;" />
                        <span class="fieldValue"></span>
                    </li>
                    <li class="update-plan">
                        <label for="txt-administration-confirmed-quantity">Confirmed Quantity<span class="required-mark"> *</span>
                            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-html="true" data-placement="right" title="Isi quantity hasil konfirmasi dari customer, cth: SAB"></span>
                        </label>
                        <input type="text" id="txt-administration-confirmed-quantity" name="ConfirmedQuantity" class="required form-control" title="Confirmed Quantity is required" min="0" style="width:350px;" />
                    </li>
                    <li class="update-plan">
                        <label for="txt-administration-vessel-document-id">
                            Vessel Document<span class="required-mark"> *</span>
                            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-html="true" data-placement="right" title="Format : No Dok. Kapal / No. BL"></span>
                        </label>
                        <select class="chosen-select required" data-placeholder="Select Vessel No.." id="txt-administration-vessel-document-id" name="VesselDocumentId" title="Vessel Document is required">
                            <option></option>
                        </select>
                        <span class="fieldValue"></span>
                    </li>
                    <li class="update-plan">
                        <label for="txt-administration-filling-point-name">
                            Filling Point<span class="required-mark"> *</span>
                            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-html="true" data-placement="right" title="Format : Lajur / Tangki / Pompa / Flowrate"></span>
                        </label>
                        <select class="chosen-select required" data-placeholder="Select Filling Point.." id="txt-administration-filling-point-name" name="FillingPointName" title="Filling Point is required">
                            <option></option>
                        </select>
                        <span class="fieldValue"></span>
                    </li>

                    <li class="plb-plan">
                        <label for="txt-administration-plb-document-id">
                            PLB Document<span class="required-mark"> *</span>
                            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-html="true" data-placement="right" title="Pilih dokumen SPPB untuk PLB"></span>
                        </label>
                        <select class="chosen-select required" data-placeholder="Select PLB Document.." id="txt-administration-plb-document-id" name="PlbDocumentId" title="PLB Document is required">
                            <option></option>
                        </select>
                        <span class="fieldValue"></span>
                    </li>
                    <li>
                        <input type="hidden" id="hdn-administration-company-id" />
                    </li>
                </ol>
            </fieldset>
        </div>
        <!-- .DlgContent -->
        <div class="dlg-button-block bg-grey-gallery">
            <input type="button" value="OK" class="dlg-tool-cmd-save btn red" />
            <input type="button" value="Cancel" class="dlg-tool-cmd-cancel btn default" />
        </div>
    </div>
    <!-- .DlgContentWrapper -->
</form>
<!-- end of add planning dlg -->
<!-- dlg truck loading security seal -->
<form id="dlg-truck-loading-security-seal" class="jqmWindow">
    <div class="dlg-title-block">
        <span class="dlg-title-text">Truck Loading Security Seal</span>
    </div>
    <!-- content container -->
    <div class="DlgContentWrapper">
        <!-- for dealing with IE6 max-height emulation -->
        <div class="dlg-content-block">
            <fieldset class="cssform left-label">
                <ol>
                    <li>
                        <label for="txt-administration-security-seal">Seal Number<span class="required-mark"> *</span></label>
                        <input type="text" id="txt-administration-security-seal" name="SealNumber" class="required form-control" title="Seal Number is required" />
                    </li>
                    <li>
                        <label for="txt-administration-seal-quantity">Seal Quantity<span class="required-mark"> *</span></label>
                        <input type="number" id="txt-administration-seal-quantity" name="Quantity" class="required form-control" title="Seal Quantity is required" min="1" />
                    </li>
                </ol>
            </fieldset>
        </div>
        <!-- .DlgContent -->
        <div class="dlg-button-block bg-grey-gallery">
            <input type="button" value="OK" class="dlg-tool-cmd-save btn red" />
            <input type="button" value="Cancel" class="dlg-tool-cmd-cancel btn default" />
        </div>
    </div>
    <!-- .DlgContentWrapper -->
</form>
<!-- end of add planning dlg -->
<!-- dlg filling -->
<form id="dlg-filling" class="jqmWindow">
    <div class="dlg-title-block">
        <span class="dlg-title-text">Filling</span>
    </div>
    <!-- content container -->
    <div class="DlgContentWrapper">
        <!-- for dealing with IE6 max-height emulation -->
        <div class="dlg-content-block" style="min-height:520px;">
            <fieldset class="cssform left-label">
                <ol>
                    <li>
                        <label for="txt-filling-preset">Preset</label>
                        <input type="text" id="txt-filling-preset" name="Preset" class="form-control" title="" readonly="readonly" />
                    </li>
                    <li class="li-fuel">
                        <label for="txt-correction-factor">Correction Factor</label>
                        <input type="text" id="txt-correction-factor" name="CorrectionFactor" class="form-control" title="" readonly="readonly" />
                    </li>
                    <li class="li-fuel">
                        <label for="txt-flow-meter">Flowmeter Qty</label>
                        <input type="text" id="txt-flow-meter" name="FlowmeterQuantity" class="required form-control" title="" />
                    </li>
                    <li class="li-fuel">
                        <label for="txt-filling-actual">Actual<span class="required-mark"> *</span></label>
                        <input type="number" id="txt-filling-actual" name="Actual" class="required form-control" title="Actual required" min="1" readonly="readonly" />
                    </li>
                    <li class="li-chemical">
                        <label for="txt-scan-weight">Scanned Weight (Kg)</label>
                        <input type="text" id="txt-scan-weight" name="Scan" class="required form-control" readonly="readonly" />
                    </li>
                    <li class="li-chemical">
                        <label for="txt-filling-initial-weight">Initial Weight (Kg)<span class="required-mark"> *</span></label>
                        <input type="number" id="txt-filling-initial-weight" name="InitialWeight" class="required form-control" title="Initial Weight required" min="0" />
                    </li>
                    <li class="li-chemical">
                        <label for="txt-filling-final-weight">Final Weight (Kg)<span class="required-mark"> *</span></label>
                        <input type="number" id="txt-filling-final-weight" name="FinalWeight" class="required form-control" title="Final Weight required" min="0" />
                    </li>
                    <li>
                        <label for="txt-filling-uom">UOM</label>
                        <input type="text" id="txt-filling-uom" name="UOM" class="form-control" title="" readonly="readonly" />
                    </li>
                </ol>
            </fieldset>
            <input type="button" value="Calculate" class="btn-calculate btn-block btn-success" />
        </div>
        <!-- .DlgContent -->
        <div class="dlg-button-block bg-grey-gallery">
            <input type="button" value="OK" class="dlg-tool-cmd-save btn red" />
            <input type="button" value="Cancel" class="dlg-tool-cmd-cancel btn default" />
        </div>
    </div>
    <!-- .DlgContentWrapper -->
</form>
<!-- end of filling dlg -->
<!-- dlg weighting -->
<form id="dlg-weighting" class="jqmWindow">
    <div class="dlg-title-block">
        <span class="dlg-title-text">Weighting</span>
    </div>
    <!-- content container -->
    <div class="DlgContentWrapper">
        <!-- for dealing with IE6 max-height emulation -->
        <div class="dlg-content-block">
            <fieldset class="cssform left-label">
                <ol>
                    <li>
                        <label for="txt-weighting-preset">Preset</label>
                        <input type="text" id="txt-weighting-preset" name="Preset" class="form-control" title="" readonly="readonly" />
                    </li>
                    <li class="li-fuel">
                        <label for="txt-weighting-actual">Actual<span class="required-mark"> *</span></label>
                        <input type="number" id="txt-weighting-actual" name="Actual" class="required form-control" title="Actual required" min="1" />
                    </li>
                    <li class="li-chemical">
                        <label for="txt-scan-weight">Scanned Weight (Kg)</label>
                        <input type="text" id="txt-scan-weight-2" name="Scan" class="required form-control" readonly="readonly" />
                    </li>
                    @*<li class="li-chemical">
                        <label for="txt-weighting-initial-weight">Initial Weight (Kg)<span class="required-mark"> *</span></label>
                        <input type="number" id="txt-weighting-initial-weight" name="InitialWeight" class="required form-control" title="Initial Weight required" min="0" />
                    </li>*@
                    <li class="li-chemical">
                        <label for="txt-weighting-final-weight">Final Weight (Kg)<span class="required-mark"> *</span></label>
                        <input type="number" id="txt-weighting-final-weight" name="FinalWeight" class="required form-control" title="Final Weight required" min="0" readonly="readonly" />
                    </li>
                    <li>
                        <label for="txt-filling-uom">UOM</label>
                        <input type="text" id="txt-weighting-uom" name="UOM" class="form-control" title="" readonly="readonly" />
                    </li>
                </ol>
            </fieldset>
        </div>
        <!-- .DlgContent -->
        <div class="dlg-button-block bg-grey-gallery">
            <input type="button" value="OK" class="dlg-tool-cmd-save btn red" id="btn-ok-weighting" />
            <input type="button" value="Cancel" class="dlg-tool-cmd-cancel btn default" />
        </div>
    </div>
    <!-- .DlgContentWrapper -->
</form>
<!-- end of weighting dlg -->
<!-- dlg loading cfs user -->
<form id="dlg-loaded-cfs-user" class="jqmWindow">
    <div class="dlg-title-block">
        <span class="dlg-title-text">CFS Loading Operator</span>
    </div>
    <!-- content container -->
    <div class="DlgContentWrapper">
        <!-- for dealing with IE6 max-height emulation -->
        <div class="dlg-content-block">
            <fieldset class="cssform left-label">
                <ol>
                    <li>
                        <label for="txt-update-loaded-cfs-user">
                            CFS Loading Operator<span class="required-mark"> *</span>
                            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-html="true" data-placement="right" title="Silahkan pilih nama operator pengisian."></span>
                        </label>
                        @*<input type="text" id="txt-update-loaded-cfs-user" name="LoadedCFSUser" class="form-control required" title="Silahkan isi nama operator pengisian !" />*@
                        <select class="chosen-select required" data-placeholder="Select Loading Personnel.." id="ddl-update-loaded-cfs-user" name="LoadedCFSUser" title="Silahkan isi nama operator pengisian !">
                            <option></option>
                        </select>
                        <span class="fieldValue"></span>
                    </li>
                </ol>
            </fieldset>
        </div>
        <!-- .DlgContent -->
        <div class="dlg-button-block bg-grey-gallery">
            <input type="button" value="OK" class="dlg-tool-cmd-save btn red" id="btn-ok-weighting" />
            <input type="button" value="Cancel" class="dlg-tool-cmd-cancel btn default" />
        </div>
    </div>
    <!-- .DlgContentWrapper -->
</form>
<!-- end of dlg loading cfs user -->