﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CFS - @ViewBag.Title</title>
        <link href="~/ciricon.png" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("scripts", required: false)

        <link href="@Url.Content("~/Scripts/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/additional.css")" rel="stylesheet" type="text/css" />
        <link href="../../Content/font-awesome/css/font-awesome.min.css" />
        <link href="../../Content/opensans/OpenSans-Bold.woff" />

        <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script type="text/javascript" src="~/Scripts/jquery.signalR-1.1.4.min.js"></script>
        <script src="~/signalr/hubs" type="text/javascript"></script>

        <script type="text/javascript">
            g_baseUrl = "@Url.Content("~")";
            g_notification = false;
            g_abbreviation = "@System.Configuration.ConfigurationManager.AppSettings["Abbrevation"]";
            g_user = "@HttpContext.Current.User.Identity.Name";
            window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(
                new Uri(
                   new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)),
                   Url.Content("~")
               ).ToString(), true));
            g_baseUrl = window.applicationBaseUrl;
            g_more = false;
            Notification = {
                show: function (){
                    var el = $('#pnl-notification');
                    $('#pnl-notification').css('visibility', 'visible');
                    el.fadeIn(100);
                },
                hide: function(){
                     $('#pnl-notification').fadeOut(100);
                     $('#pnl-notification').css('visibility', 'hidden');
                }
            };
            More = {
                show: function (){
                    var el = $('#pnl-more');
                    $('#pnl-more').css('visibility', 'visible');
                    el.fadeIn(100);
                },
                hide: function(){
                     $('#pnl-more').fadeOut(100);
                     $('#pnl-more').css('visibility', 'hidden');
                }
            };
            Msg = {
                show: function (msg) {
                    var el = $('#pnl-throbber');
                    el.text(msg);
                    el.fadeIn(100);
                },
                hide: function () {
                    $('#pnl-throbber').fadeOut(100);
                }
            };
            var url = window.location;
            var curl = window.location.href.substr(0, window.location.href.lastIndexOf('/'));
		    curl = curl.substr(0, curl.lastIndexOf('/'));

            $(".nav").find(".active").removeClass("active");
		    $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
		    $('ul.nav a').filter(function() {
			    return this.href == url || this.href == curl; 
		    }).parent().addClass('active');
            $(document).ready(function() {
                var i = 0;
                $('#btn-notification-badge').click(function(){
                    if(g_notification){
                        g_notification = false;
                        Notification.hide();
                    }
                    else{
                        g_notification = true;
                        Notification.show();
                        More.hide();
                        i = 0;
                        $('#notification-badge').html(0); //reset notif counter
                    }
                });
                $('#btn-more').click(function(){
                    Notification.hide();
                    if (g_more) {
                        g_more = false;
                        More.hide();
                    }
                    else{
                        g_more = true;
                        More.show();
                        Notification.hide();
                    }
                });
                var notification = $.connection.userFingerHub;
                var date = new Date();
                notification.client.broadcastMessage = function(message){
                    /*add message to page*/
                    var trimmedString = message.text.length > 103 ? 
                                        message.text.substring(0, 103 - 3) + "..." : 
                                        message.text;
                    i++;
                    $('#no-notif').css('display', 'none');
                    $('#notification-list-group').prepend('<li class="list-group-item"><span class="'+ message.icon +'"></span> <b style="color:#0092DD;font-family: Arial;">' + message.title + '</b> - '+ trimmedString +'<a href='+ message.url +' style=color:#337AB7; target=_blank> Click here to process.</a><br><font size="0.5em">'+ C.parseIsoDateTime(message.dateTime) +'</font></li>');
                    $('#notification-badge').html(i);
                }
                window.onbeforeunload = function () {
                    $.connection.hub.stop();
                };
                //restart on disconnected
                $.connection.hub.disconnected(function() {
                    setTimeout(function() {
                        $.connection.hub.start();
                    }, 5000); // Restart connection after 5 seconds.you can set the time based your requirement
                });
                // Start the connection.
                $.connection.hub.start().done(function () {
                    console.log('Connected to hub');
                });    
            });
        </script>

    </head>
    <body>
        <div id="pnl-throbber"><span id="throbber-message"></span></div>
        <header class="navbar navbar-title navbar-static-top">
            <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8">
                    <img src="~/@System.Configuration.ConfigurationManager.AppSettings["Logo"]" class="pull-left" height="55px" style="margin-top:5px;padding-right:5px;" />
                    <h3 style="font-family:Tahoma;margin-top:5px;margin-bottom:0px"><b><font color="#102A54">Centralized Filling Station</font></b></h3>
                    <h4 style="margin-top:0px">@System.Configuration.ConfigurationManager.AppSettings["DepotName"] Storage</h4>
                </div>
                <div class="col-xs-4 text-right" style="margin-top:10px">
                    Login as <b>@HttpContext.Current.User.Identity.Name</b>,<br /> with role <b>@CFS.Models.Users.GetCurrentUser().RoleNameStr</b>
                </div>
            </div>
            </div>
        </header>
        <header class="navbar navbar-default navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                            @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Distribution"))
                            {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-move"></span> Receiving & Distribution<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Berthing Schedule"))
                                    {
                                        <li><a href="@Url.Action("Index", "BerthingSchedule")"><span class="glyphicon glyphicon-file"></span> Berthing Schedule</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Vessel Document"))
                                    {
                                        <li><a href="@Url.Action("Index", "VesselDocument")"><span class="glyphicon glyphicon-folder-open"></span> Vessel Document</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu PLB Document"))
                                    {
                                        <li><a href="@Url.Action("Index", "PlbDocument")"><span class="glyphicon glyphicon-folder-close"></span> PLB Document</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Delivery Order"))
                                    {
                                        <li><a href="@Url.Action("Index", "DeliveryOrder")"><span class="glyphicon glyphicon-list-alt"></span> Delivery Order</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Distribution Monitoring"))
                                    {
                                        <li><a href="@Url.Action("Index", "DistributionMonitoring")"><span class="glyphicon glyphicon-eye-open"></span> Distribution Monitoring</a></li>
                                    }
                                </ul>
                            </li>
                            }
                            @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Report"))
                            {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt"></span> Report<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Delivery Order Realization"))
                                    {
                                        <li><a href="@Url.Action("Index", "DeliveryOrderRealization")"><span class="glyphicon glyphicon-check"></span> Delivery Order Realization</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Stock Monitoring"))
                                    {
                                        <li><a href="@Url.Action("Index", "StockMonitoring")"><span class="glyphicon glyphicon-oil"></span> Stock Monitoring</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu BL Monitoring"))
                                    {
                                        <li><a href="@Url.Action("Index", "BLMonitoring")"><span class="glyphicon glyphicon-file"></span> BL Monitoring</a></li>
                                    }
                                </ul>
                            </li>
                            }
                            @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Administration"))
                            {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> Administration<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Company"))
                                    {
                                        <li><a href="@Url.Action("Index", "Company")"><span class="glyphicon glyphicon-list-alt"></span> Company</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Driver"))
                                    {
                                        <li><a href="@Url.Action("Index", "Driver")"><span class="glyphicon glyphicon-user"></span> Driver</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Filling Point"))
                                    {
                                        <li><a href="@Url.Action("Index", "FillingPoint")"><span class="glyphicon glyphicon-wrench"></span> Filling Point</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Product"))
                                    {
                                        <li><a href="@Url.Action("Index", "Product")"><span class="glyphicon glyphicon-th-large"></span> Product</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Pump"))
                                    {
                                        <li><a href="@Url.Action("Index", "Pump")"><span class="glyphicon glyphicon-arrow-right"></span> Pump</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Truck"))
                                    {
                                        <li><a href="@Url.Action("Index", "Truck")"><span class="glyphicon glyphicon-flash"></span> Truck</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Vessel"))
                                    {
                                        <li><a href="@Url.Action("Index", "Vessel")"><span class="glyphicon glyphicon-oil"></span> Vessel</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Users"))
                                    {
                                        <li><a href="@Url.Action("Index", "User")"><span class="glyphicon glyphicon-user"></span> User</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Role"))
                                    {
                                        <li><a href="@Url.Action("Index", "Role")"><span class="glyphicon glyphicon-th"></span> Role</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Sounding"))
                                    {
                                        <li><a href="@Url.Action("Index", "Sounding")"><span class="glyphicon glyphicon-tag"></span> Sounding</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu System Validation"))
                                    {
                                        <li><a href="@Url.Action("Index", "SystemValidation")"><span class="glyphicon glyphicon-ok"></span> System Validation</a></li>
                                    }
                                    @if (CFS.Models.Users.GetCurrentUser().HasPermission("View Menu Tank"))
                                    {
                                        <li><a href="@Url.Action("Index", "Tank")"><span class="glyphicon glyphicon-cog"></span> Tank</a></li>
                                    }
                                </ul>
                            </li>
                            }
                            @*@if (CFS.Models.Users.GetCurrentUser().HasPermission("Queue_VIEW"))
                            {
                                <li><a href="@Url.Action("Index", "QueueTruck")"><span class="glyphicon glyphicon-road"></span> Queue Truck</a></li>
                            }*@
                        </ul>
                        <p class="navbar-text navbar-right">
                            <button class="glyphicon glyphicon-bell btn-darkblue img-thumbnail" id="btn-notification-badge"><span class="badge" id="notification-badge">0</span></button>
                            <button class="glyphicon glyphicon-option-horizontal btn-darkblue img-thumbnail" id="btn-more"></button>
                            @*<a href="@Url.Action("Logout", "Login")" style="margin-right:15px">Logout</a>*@
                            
                        </p>
                    </div><!--/.nav-collapse -->
                </div>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-6">
                    <div id="pnl-notification">
                        <div class="panel panel-primary">
                            <div class="panel-heading"><span class="glyphicon glyphicon-bell"></span> Notification</div>
                            <div class="panel-body">
                                <ul class="list-group" id="notification-list-group">
                                    <li class="list-group-item" id="no-notif"><span class="glyphicon glyphicon-remove-sign"></span> No New Notification.</li>
                                </ul>
                                <div class="panel-footer" style="background-color:#337AB7"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-6">
                    <div id="pnl-more">
                        <div class="panel panel-primary">
                            <div class="panel-heading"><span class="glyphicon glyphicon-option-horizontal"></span> More</div>
                            <div class="panel-body">
                                <ul class="list-group" id="notification-list-group">
                                    <li class="list-group-item"><a href="@Url.Action("ChangePassword", "User")" style="margin-right:15px;color:#333">Change Password</a></li>
                                    <li class="list-group-item"><a href="@Url.Action("Logout", "Login")" style="margin-right:15px; color:#333">Logout</a></li>
                                </ul>
                            </div>
                            <div class="panel-footer" style="background-color:#337AB7"></div>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
        <footer class="footer navbar-fixed-bottom" >
            <div class="container-fluid" >
                <div class="row">
                    <div class="col-xs-2">
                        <img src="~/Images/cinovasi.png" class="pull-left"/>
                    </div>
                    <div class="col-xs-10">
                        <p class="pull-right">&copy; 2020 - Centralized Filling Station v1.1. Developed by <a href="http://www.cinovasi.com/" target="_blank" style="color:#fff">PT. Cinovasi Rekaprima</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <link href="@Url.Content("~/Content/additional.css")" rel="stylesheet" type="text/css" />
    </body>
</html>
