﻿@{
    ViewBag.Title = "Distribution Throughput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
@*<link href="@Url.Content("~/Content/jqGrid-4.7.0/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />*@
<link href="@Url.Content("~/Content/silk-sprite/silk-sprite.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/cinovasi.widget.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="@Url.Content("~/Scripts/underscore-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ajaxmanager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone.sync.ajaxman.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Chart.bundle.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/utils.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.js")"></script>
@*<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/i18n/grid.locale-en.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/jquery.jqGrid.js")"></script>*@

<script type="text/javascript" src="@Url.Content("~/Content/jquerytools/src/tabs/tabs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.field.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.metadata.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/date.format.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.foundation.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.widget.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionThroughput/model.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionThroughput/tabview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionThroughput/filterview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionThroughput/chartview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DistributionThroughput/router.js")"></script>

<style type="text/css">

</style>
<div id="pnl-frame">
    <ul class="tabs">
        <li>
            <a href="#pnl-grid">Grid</a>
        </li>
    </ul>
    <!-- panel grid -->
    <div id="pnl-grid" class="panes">
        <div class="panel-group" id="pnl-search" role="tablist" aria-multiselectable="true">
            <div class="panel panel-darkblue">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#pnl-search" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Distribution Throughput Summary
                        </a>
                       
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="pnl-search" class="pnl-search bg-grey-gallery">
                            <form style="" id="form-search" action="javascript:void(0);">
                            <!-- Toolbar Front Page -->
                            <fieldset class="pnl-button">
                                <ol>
                                    <li>
                                        <button class="button cmd-refresh">
                                        <span class="ui-silk ui-silk-arrow-refresh"></span> Refresh
                                        </button>
                                    </li>
                                    <li>
                                        <button class="button cmd-reset-filter">
                                        <span class="ui-silk ui-silk-arrow-rotate-clockwise"></span> Reset Filter
                                        </button>
                                    </li>
                                </ol>
                            </fieldset>
                            <fieldset class="search-param">
                                <ol>
                                    <li class="search-item">
                                        <label for="flt-timestamp-from">From</label>
                                        <input type="text" size="10" id="flt-timestamp-from" class="input-control" style="width:130px" title="press ENTER to trigger search" name="fltTimestampFromX"/>
                                        <input type="hidden" id="hdn-timestamp-from" name="fltTimestampFrom"/>
                                    </li>
                                    <li class="search-item">
                                        <label for="flt-timestamp-to">To</label>
                                        <input type="text" size="10" id="flt-timestamp-to" class="input-control" style="width:130px" title="press ENTER to trigger search" name="fltTimestampToX"/>
                                        <input type="hidden" id="hdn-timestamp-to" name="fltTimestampTo"/>
                                    </li>
                                </ol>
                            </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <div class="thumbnail">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title"><font face="Arial"><b>Distribution Throughput Summary</b></font></h3>
                    </div>
                    <div class="panel-body-default" style="width:99%">
                        <div class="chart-div">
                            <canvas id="daily-throughput-chart" min-height="100px"></canvas>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>