﻿@{
    ViewBag.Title = "Tank Monitoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jqGrid-4.7.0/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/silk-sprite/silk-sprite.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/cinovasi.widget.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/chosen.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/jquery.datetimepicker.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="@Url.Content("~/Scripts/underscore-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ajaxmanager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone.sync.ajaxman.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/i18n/grid.locale-en.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/minified/jquery.jqGrid.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquerytools/src/tabs/tabs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.field.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.metadata.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/date.format.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.foundation.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.widget.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/chosen.jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.datetimepicker.full.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/TankMonitoring/model.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/StockMonitoring/tabview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/StockMonitoring/gridview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/StockMonitoring/filterview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/StockMonitoring/formview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/StockMonitoring/router.js")"></script>


<style type="text/css">
</style>

<div id="pnl-frame">
    <ul class="tabs">
        <li>
            <a href="#pnl-grid">Grid</a>
        </li>
        <li>
            <a href="#pnl-form">Form</a>
        </li>
    </ul>
    <!-- panel grid -->
    <div id="pnl-grid" class="panes">
        <div class="panel-group" id="pnl-search" role="tablist" aria-multiselectable="true">
            <div class="panel panel-darkblue">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#pnl-search" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Tank Monitoring
                        </a>

                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="pnl-search" class="pnl-search bg-grey-gallery">
                            <form style="" id="form-search" action="javascript:void(0);">
                                <!-- Toolbar Front Page -->
                                <fieldset class="pnl-button">
                                    <ol>
                                        <li>
                                            <button class="button cmd-refresh">
                                                <span class="ui-silk ui-silk-arrow-refresh"></span> Refresh
                                            </button>
                                        </li>
                                        <li>
                                            <button class="button cmd-reset-filter">
                                                <span class="ui-silk ui-silk-arrow-rotate-clockwise"></span> Reset Filter
                                            </button>
                                        </li>
                                        <li>
                                            <button class="button cmd-report">
                                                <span class="ui-silk ui-silk-report"></span> Stock Report
                                            </button>
                                        </li>
                                        @*<li>
                                                <button class="button cmd-export">
                                                    <span class="ui-silk ui-silk-page-white-excel"></span> Export Excel
                                                </button>
                                            </li>*@
                                    </ol>
                                </fieldset>
                                <fieldset class="search-param">
                                    <ol>
                                        <li class="search-item">
                                            <label for="flt-tank">Tank Name</label>
                                            <select id="flt-tank" name="fltTank" class="input-control" title="press ENTER to trigger search">
                                                <option value="">--</option>
                                                @foreach (CFS.Models.Tank t in ViewBag.Tank)
                                                {
                                                    <option value="@t.TankId">@t.Name</option>
                                                }
                                            </select>
                                        </li>
                                        <li class="search-item">
                                            <label for="flt-is-active">Tank Name</label>
                                            <select id="flt-is-active" name="fltIsActive" class="input-control" title="press ENTER to trigger search">
                                                <option value="">--</option>
                                                <option value="0">Inactive</option>
                                                <option value="1">Active</option>

                                            </select>
                                        </li>
                                        @*<li class="search-item">
            <label for="flt-sounding-date">Sounding Date</label>
            <input id="flt-sounding-date" type="text" class="input-control" style="width:130px" title="press ENTER to trigger search" name="fltTimestampFromX" />
            <input type="hidden" id="hdn-sounding-date" name="fltSoundingDate" />
        </li>*@
                                    </ol>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jq grid -->
        <div id="pnl-grid-container">
            <table id="tbl-tank-monitoring"></table>
            <div id="tbl-tank-monitoring-pager"></div>
        </div>
    </div>
    <!-- end of panel grid -->
    <div id="pnl-form" class="panes">
        <div class="form-top-toolbar">
            <fieldset>
                <ol>
                    <li>
                        <button class="button cmd-back btn btn-darkblue">
                            <a href="#" class="toolbar-item" style="color:#fff" ;>
                                <span class="ui-silk ui-silk-control-rewind-blue"></span> Back to List
                            </a>
                        </button>
                    </li>
                    <li>
                        <button class="button cmd-edit btn btn-darkblue">
                            <span class="ui-silk ui-silk-pencil"></span> Edit
                        </button>
                    </li>
                    <li>
                        <button id="btn-save" class="button cmd-save btn btn-darkblue">
                            <span class="ui-silk ui-silk-disk"></span> Save
                        </button>
                    </li>
                </ol>
            </fieldset>
        </div>
        @*<form id="the-form" class="the-form">
                <div class="server-msg pnl-msg"></div>
                <div class="client-msg pnl-msg"></div>
                <!-- DETAIL Information -->
                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="cssform left-label">
                        <legend>Truck Detail</legend>
                            <ol>
                                <li>
                                    <label for="txt-truck-registration-plate">Truck Registration Plate<span class="required-mark"> *</span></label>
                                    <div>
                                        <select class="chosen-select required" data-placeholder="Select Truck.." id="txt-truck-registration-plate" name="TruckRegistrationPlate" title="Truck is required">
                                            <option></option>
                                            @foreach (NetLPG.Models.Truck truck in ViewBag.Truck)
                                            {
                                                <option value="@truck.TruckId">@truck.RegistrationPlate</option>
                                            }
                                        </select>
                                    <span class="fieldValue"></span>
                                    </div>
                                </li>
                                <li>
                                    <label for="txt-truck-keur-weight">Truck KEUR Weight (Kg)</label>
                                    <div>
                                        <span class="fieldValue" id="lbl-truck-keur-weight"></span>
                                    </div>
                                </li>
                                <li>
                                    <label for="txt-truck-safe-capacity">Truck Safe Capacity (Kg)</label>
                                    <div>
                                        <span class="fieldValue" id="lbl-truck-safe-capacity"></span>
                                    </div>
                                </li>
                                <li>
                                    <label for="txt-tank-tera-timestamp">Tank TERA Expired Date</label>
                                    <div>
                                        <span class="fieldValue" id="lbl-tank-tera-timestamp"></span>
                                    </div>
                                </li>
                            </ol>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="cssform left-label">
                        <legend>Crew Detail</legend>
                            <ol>
                                <li>
                                    <label for="txt-driver-id">Driver<span class="required-mark"> *</span></label>
                                    <div>
                                        <select class="chosen-select required" data-placeholder="Select Driver.." id="txt-driver-id" name="DriverId" title="Driver is required">
                                            <option></option>
                                            @foreach (NetLPG.Models.Crew driver in ViewBag.Driver)
                                            {
                                                <option value="@driver.CrewId">@driver.Name</option>
                                            }
                                        </select>
                                        <span class="fieldValue"></span>
                                    </div>
                                </li>
                                <li>
                                    <label for="txt-kernet-id">Kernet<span class="required-mark"> *</span></label>
                                    <div>
                                        <select class="chosen-select required" data-placeholder="Select Kernet.." id="txt-kernet-id" name="KernetId" title="Kernet is required">
                                            <option></option>
                                            @foreach (NetLPG.Models.Crew kernet in ViewBag.Kernet)
                                            {
                                                <option value="@kernet.CrewId">@kernet.Name</option>
                                            }
                                        </select>
                                        <span class="fieldValue"></span>
                                    </div>
                                </li>
                            </ol>
                        </fieldset>
                    </div>
                    <div class="col-md-12">
                        <fieldset class="cssform left-label">
                        <legend>SPA (Surat Perintah Angkut)</legend>
                            <ol>
                                <li>
                                    <label for="txt-spa-manual-validation">Is Manually Validated ?<span class="required-mark"> *</span></label>
                                    <div>
                                        <select class="chosen-select required" data-placeholder="Select Mode.." id="txt-spa-manual-validation" name="IsManualValidation" title="Validation Mode is required">
                                            <option></option>
                                            <option value="0">No (Auto Validation)</option>
                                            <option value="1">Yes (Manual Validation)</option>
                                        </select>
                                        <span class="fieldValue"></span>
                                    </div>
                                </li>
                                <li>
                                    <label for="txt-spa-number">SPA Number<span class="required-mark"> *</span></label>
                                    <div>
                                        <input type="text" id="txt-spa-number" name="SPANumber" title="SPA Number is required" class="required"/>
                                        <span class="fieldValue"></span>
                                    </div>
                                </li>
                                <li id="div-preset">
                                    <label for="txt-preset">Preset (Kg)<span class="required-mark"> *</span></label>
                                    <div>
                                        <input type="text" id="txt-preset" name="Preset" title="Preset is required" class="required number"/>
                                        <span class="fieldValue"></span>
                                    </div>
                                </li>
                            </ol>
                        </fieldset>
                    </div>
                    <div class="col-md-12" id="div-customer">
                        <fieldset class="cssform left-label">
                        <legend>Customer</legend>
                            <ol>
                                <li>
                                    <label for="txt-customer">Customer<span class="required-mark"> *</span></label>
                                    <div>
                                        <select class="chosen-select required" data-placeholder="Select Customer.." id="txt-customer" name="ShipToCode" title="Customer is required">
                                            <option></option>
                                            @foreach (NetLPG.Models.Customer customer in ViewBag.Customer)
                                            {
                                                <option value="@customer.ShipToCode">@customer.ShipToCode - @customer.ShipToName</option>
                                            }
                                        </select>
                                        <span class="fieldValue"></span>
                                    </div>
                                </li>
                            </ol>
                        </fieldset>
                    </div>
                </div>
                <!-- Audit Trail -->
                <fieldset class="cssform left-label">
                <legend>Audit Trail</legend>
                    <ol>
                        <li>
                            <label>Date Created</label>
                            <div>
                                <span id="lbl-insert-date" name="CreatedTimestamp" class="fieldValue" readonly="readonly"/>
                            </div>
                        </li>
                        <li>
                            <label>Created By</label>
                            <div>
                                <span id="lbl-insert-by" name="CreatedByName" readonly="readonly" class="fieldValue"/>
                            </div>
                        </li>
                        <li>
                            <label>Date Last Updated</label>
                            <div>
                                <span id="lbl-last-updated-date" name="UpdatedTimestamp" readonly="readonly" class="fieldValue"/>
                            </div>
                        </li>
                        <li>
                            <label>Last Updated By</label>
                            <div>
                                <span id="lbl-last-updated-by" name="CreatedByName" readonly="readonly" class="fieldValue"/>
                            </div>
                        </li>
                    </ol>
                </fieldset>
                <!-- END Audit Trail-->
            </form>*@
    </div>
    <!-- end of panel form -->
    <!-- end of panel frame -->
</div>
<form id="dlg-lo-report" class="jqmWindow" onSubmit="return false;">
    <div class="dlg-title-block">
        <span class="dlg-title-text">Stock Report</span>
    </div>
    <!-- content container -->
    <div class="DlgContentWrapper">
        <!-- for dealing with IE6 max-height emulation -->
        <div class="dlg-content-block">
            <fieldset class="cssform left-label">
                <ol>
                    <li>
                        <label for="txt-dlg-tank" style="width:100px">Tank<span class="required-mark"> *</span></label>
                        <select id="txt-dlg-tank" name="Tank" class="required form-control" title="press ENTER to trigger search" style="width:225px">
                            <option value="">--</option>
                            @foreach (CFS.Models.Tank t in ViewBag.Tank)
                            {
                                <option value="@t.TankId">@t.Name</option>
                            }
                        </select>
                    </li>
                    <li>
                        <label for="txt-dlg-month" style="width:100px">Month<span class="required-mark"> *</span></label>
                        <select id="txt-dlg-month" name="Month" title="Month is required" class="required form-control" style="width:225px">
                            <option value="">--</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </li>
                    <li>
                        <label for="txt-dlg-year" style="width:100px">Year<span class="required-mark"> *</span></label>
                        <select id="txt-dlg-year" name="Year" title="Year is required" class="required form-control" style="width:225px">
                            <option value="">--</option>
                            @foreach (string year in ViewBag.Years)
                            {
                                <option value="@year">@year</option>

                            }
                        </select>
                    </li>

                </ol>
            </fieldset>
        </div>
        <!-- .DlgContent -->
        <div class="dlg-button-block bg-grey-gallery">
            <input type="button" value="OK" class="dlg-tool-cmd-save" />
            <input type="button" value="Cancel" class="dlg-tool-cmd-cancel" />
        </div>
    </div>
    <!-- .DlgContentWrapper -->
</form>   