﻿@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jqGrid-4.7.0/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/silk-sprite/silk-sprite.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/cinovasi.widget.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="@Url.Content("~/Scripts/underscore-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ajaxmanager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone.sync.ajaxman.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/i18n/grid.locale-en.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/jquery.jqGrid.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquerytools/src/tabs/tabs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.field.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.metadata.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/date.format.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.foundation.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.widget.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Notification/model.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Notification/tabview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Notification/gridview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Notification/filterview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Notification/formview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Notification/router.js")"></script>

<style type="text/css">

</style>

<div id="pnl-frame">
    <ul class="tabs">
        <li>
            <a href="#pnl-grid">Grid</a>
        </li>
        <li>
            <a href="#pnl-form">Form</a>
        </li>
    </ul>
    <!-- panel grid -->
    <div id="pnl-grid" class="panes">
        <div class="panel-group" id="pnl-search" role="tablist" aria-multiselectable="true">
            <div class="panel panel-darkblue">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#pnl-search" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Notification
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="pnl-search" class="pnl-search bg-grey-gallery">
                            <form style="" id="form-search" action="javascript:void(0);">
                            <!-- Toolbar Front Page -->
                            <fieldset class="pnl-button">
                                <ol>
                                    <li>
                                        <button class="button cmd-refresh">
                                        <span class="ui-silk ui-silk-arrow-refresh"></span> Refresh
                                        </button>
                                    </li>
                                    <li>
                                        <button class="button cmd-reset-filter">
                                        <span class="ui-silk ui-silk-arrow-rotate-clockwise"></span> Reset Filter
                                        </button>
                                    </li>
                                    @*<li>
                                        <button class="button cmd-export">
                                        <span class="ui-silk ui-silk-page-white-excel"></span> Export Excel
                                        </button>
                                    </li>*@
                                </ol>
                            </fieldset>
                            <fieldset class="search-param">
                                <ol>
                                    <li class="search-item">
                                        <label for="flt-title">Title</label>
                                        <input type="text" size="10" id="flt-title" name="fltTitle" class="input-control"/>
                                    </li>
                                    <li class="search-item">
                                        <label for="flt-status">Status</label>
                                        <select id="flt-status" name="fltStatus" class="input-control" title="press ENTER to trigger search">
                                            <option value="">--</option>
                                            <option value="SUCCESS">Success</option>
                                            <option value="FAIL">Fail</option>
                                            <option value="REMINDER">Reminder</option>
                                        </select>
                                    </li>
                                    <li class="search-item">
                                        <label for="flt-timestamp-from">Timestamp from</label>
                                        <input id="flt-timestamp-from" type="text" class="input-control" style="width:130px" title="press ENTER to trigger search" name="fltTimestampFromX"/>
                                        <input type="hidden" id="hdn-timestamp-from" name="fltTimestampFrom"/>
                                    </li>
                                    <li class="search-item">
                                        <label for="flt-timestamp-to">to</label>
                                        <input id="flt-timestamp-to" type="text" class="input-control" style="width:130px" title="press ENTER to trigger search" name="fltTimestampToX"/>
                                        <input type="hidden" id="hdn-timestamp-to" name="fltTimestampTo"/>
                                    </li>
                                </ol>
                            </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jq grid -->
        <div id="pnl-grid-container" >
            <table id="tbl-notification"></table>
            <div id="tbl-notification-pager"></div>
        </div>
    </div>
    <!-- end of panel grid -->
    <div id="pnl-form" class="panes">
        <div class="form-top-toolbar">
            <fieldset>
                <ol>
                    <li>
                        <button class="button cmd-back btn btn-darkblue">
                            <a href="#" class="toolbar-item" style="color:#fff;">
                            <span class="ui-silk ui-silk-control-rewind-blue"></span> Back to List
                            </a>
                        </button>
                    </li>
                    @*<li>
                        <button class="button cmd-edit btn btn-darkblue">
                        <span class="ui-silk ui-silk-pencil"></span> Edit
                        </button>
                    </li>*@
                    <li>
                        <button id="btn-save" class="button cmd-save btn btn-darkblue">
                        <span class="ui-silk ui-silk-disk"></span> Save
                        </button>
                    </li>
                </ol>
            </fieldset>
        </div>
        <form id="the-form" class="the-form">
            <div class="server-msg pnl-msg"></div>
            <div class="client-msg pnl-msg"></div>
            <!-- DETAIL Information -->
            <fieldset class="cssform left-label">
            <legend>Product Details</legend>
                <ol>
                    <li>
                        <label for="txt-title">Title<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-product-code" name="Title" title="Title is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-text">Text<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-product-name" name="Text" title="Text is required" class="required"/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-icon">Icon</label>
                        <div>
                            <input type="text" id="txt-icon" name="Icon" title="" class=""/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-status">Status</label>
                        <div>
                            <input type="text" id="txt-status" name="Status" title="" class=""/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-timestamp">Timestamp</label>
                        <div>
                            <input type="text" id="txt-timestamp" name="TimestampText" title="" class=""/>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                </ol>
            </fieldset>
        </form>
    </div>
</div>

