﻿@{
    ViewBag.Title = "Berthing Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jqGrid-4.7.0/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/silk-sprite/silk-sprite.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/cinovasi.widget.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/jquery.datetimepicker.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="@Url.Content("~/Scripts/underscore-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ajaxmanager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone.sync.ajaxman.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/i18n/grid.locale-en.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/minified/jquery.jqGrid.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquerytools/src/tabs/tabs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.field.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.metadata.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/date.format.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-timepicker-addon.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.foundation.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.widget.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/fileuploader.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.attachment.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/BerthingSchedule/model.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/BerthingSchedule/tabview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/BerthingSchedule/gridview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/BerthingSchedule/filterview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/BerthingSchedule/formview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/BerthingSchedule/router.js")"></script>

<style type="text/css">
</style>

<div id="pnl-frame">
    <ul class="tabs">
        <li>
            <a href="#pnl-grid">Grid</a>
        </li>
        <li>
            <a href="#pnl-form">Form</a>
        </li>
    </ul>
    <!-- panel grid -->
    <div id="pnl-grid" class="panes">
        <div class="panel-group" id="pnl-search" role="tablist" aria-multiselectable="true">
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#pnl-search" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Berthing Schedule
                        </a>
                        <div class="float-right">
                            @if (ViewBag.New)
                            {
                                <a href="#new" style="color:#fff;">
                                    <span class="ui-silk ui-silk-application-add"></span>New
                                </a>
                            }
                        </div>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="pnl-search" class="pnl-search bg-grey-gallery">
                            <form style="" id="form-search" action="javascript:void(0);">
                                <!-- Toolbar Front Page -->
                                <fieldset class="pnl-button">
                                    <ol>
                                        <li>
                                            <button class="button cmd-refresh">
                                                <span class="ui-silk ui-silk-arrow-refresh"></span> Refresh
                                            </button>
                                        </li>
                                        <li>
                                            <button class="button cmd-reset-filter">
                                                <span class="ui-silk ui-silk-arrow-rotate-clockwise"></span> Reset Filter
                                            </button>
                                        </li>
                                        @*<li>
                                                <button class="button cmd-export">
                                                    <span class="ui-silk ui-silk-page-white-excel"></span> Export Excel
                                                </button>
                                            </li>*@
                                    </ol>
                                </fieldset>
                                <fieldset class="search-param">
                                    <ol>
                                        <li class="search-item">
                                            <label for="flt-vessel-name">Vessel</label>
                                            <select id="flt-vessel-name" name="fltVesselId" class="input-control">
                                                <option value=""></option>
                                                @foreach (CFS.Models.Vessel v in ViewBag.Vessel)
                                                {
                                                    <option value="@v.VesselId">@v.VesselName</option>
                                                }
                                            </select>
                                        </li>
                                        <li class="search-item">
                                            <label for="flt-status">Status</label>
                                            <select id="flt-status" name="fltStatus" class="input-control">
                                                <option value=""></option>
                                                <option value="Scheduled">Scheduled</option>
                                                <option value="Arrived">Arrived</option>
                                                <option value="Approved">Approved</option>
                                            </select>
                                        </li>
                                        <li class="search-item">
                                            <label for="flt-is-active">Is Active</label>
                                            <select id="flt-is-active" name="fltIsActive" class="input-control">
                                                <option value=""></option>
                                                <option value="0">Inactive</option>
                                                <option value="1">Active</option>
                                            </select>
                                        </li>
                                    </ol>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jq grid -->
        <div id="pnl-grid-container">
            <table id="tbl-berthing-schedule"></table>
            <div id="tbl-berthing-schedule-pager"></div>
        </div>
    </div>
    <!-- end of panel grid -->
    <div id="pnl-form" class="panes">
        <div class="form-top-toolbar" style="background-color:#449d44">
            <fieldset>
                <ol>
                    <li>
                        <button class="button cmd-back btn btn-success">
                            <a href="#" class="toolbar-item" style="color:#fff;">
                                <span class="ui-silk ui-silk-control-rewind-blue"></span> Back to List
                            </a>
                        </button>
                    </li>
                    @if (ViewBag.Update)
                    {
                        <li>
                            <button class="button cmd-edit btn btn-success">
                                <span class="ui-silk ui-silk-pencil"></span> Edit
                            </button>
                        </li>
                    }
                    <li>
                        <button id="btn-save" class="button cmd-save btn btn-success">
                            <span class="ui-silk ui-silk-disk"></span> Save
                        </button>
                    </li>
                </ol>
            </fieldset>
        </div>
        <form id="the-form" class="the-form">
            <div class="server-msg pnl-msg"></div>
            <div class="client-msg pnl-msg"></div>
            <!-- DETAIL Information -->
            <fieldset class="cssform left-label">
                <legend>Berthing Schedule Details</legend>
                <ol>
                    <li>
                        <label for="txt-vessel-id">Vessel<span class="required-mark"> *</span></label>
                        <div>
                            <select id="ddl-vessel-id" name="VesselId" title="Vessel is required" class="required">
                                <option value="">--</option>
                                @foreach (CFS.Models.Vessel p in ViewBag.Vessel)
                                {
                                    <option value="@p.VesselId">@p.VesselName</option>

                                }
                            </select>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-estimate-date">Estimate Date<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-estimate-date" name="EstimateDate" title="Estimate Date is required" class="required" />
                            <button id="btn-estimate-date" class="btn-datetimepicker"></button>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-company-id">Company<span class="required-mark"> *</span></label>
                        <div>
                            <select id="ddl-company-id" name="CompanyId" title="Company is required" class="required">
                                <option value="">--</option>
                                @foreach (CFS.Models.Company p in ViewBag.Company)
                                {
                                    <option value="@p.CompanyId">@p.CompanyName</option>
                                }
                            </select>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-product-id">Product<span class="required-mark"> *</span></label>
                        <div>
                            <select id="ddl-product-id" name="ProductId" title="Product is required" class="required">
                                <option value="">--</option>
                                @foreach (CFS.Models.Product p in ViewBag.Product)
                                {
                                    <option value="@p.ProductId">@p.ProductName</option>

                                }
                            </select>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-bl-quantity">Quantity<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-bl-quantity" name="BlQuantity" title="BL Quantity is required" class="required" />
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-bl-uom">BL UOM<span class="required-mark"> *</span></label>
                        <div>
                            <select id="ddl-bl-uom" name="BlUom" title="BL UOM is required" class="required">
                                <option value="">--</option>
                                <option value="Kg">Kg</option>
                                <option value="KL">KL</option>
                            </select>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-local-agent">Local Agent<span class="required-mark"> *</span></label>
                        <div>
                            <select id="ddl-local-agent" name="LocalAgent" title="Local Agent is required" class="required">
                                <option value="">--</option>
                                @foreach (CFS.Models.LocalAgent l in ViewBag.LocalAgent)
                                {
                                    <option value="@l.AgentName">@l.AgentName</option>
                                }
                            </select>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-loading-type">Loading Type<span class="required-mark"> *</span></label>
                        <div>
                            <select id="ddl-loading-type" name="LoadingType" title="Loading Type is required" class="required">
                                <option value="">--</option>
                                <option value="Discharge">Discharge</option>
                                <option value="Loading">Loading</option>
                            </select>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-jetty">Jetty<span class="required-mark"> *</span></label>
                        <div>
                            <select id="ddl-jetty" name="Jetty" title="Jetty is required" class="required">
                                <option value="">--</option>
                                <option value="Jetty 1">Jetty 1</option>
                                <option value="Jetty 2">Jetty 2</option>
                            </select>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-from-port">From Port<span class="required-mark"> *</span></label>
                        <div>
                            <select id="ddl-from-port" name="FromPort" title="From Port is required" class="required">
                                <option value="">--</option>
                                @foreach (CFS.Models.Port p in ViewBag.Port)
                                {
                                    <option value="@p.PortName">@p.PortName</option>
                                }
                            </select>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-to-port">To Port<span class="required-mark"> *</span></label>
                        <div>
                            <select id="ddl-to-port" name="ToPort" title="To Port is required" class="required">
                                <option value="">--</option>
                                @foreach (CFS.Models.Port p in ViewBag.Port)
                                {
                                    <option value="@p.PortName">@p.PortName</option>
                                }
                            </select>
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <input type="hidden" id="hdn-ticket" name="Ticket" />
                        <input type="hidden" id="hdn-file-name2" name="Filename" />
                        <label for="txt-inward-manifest">Inward Manifest</label>
                        <div>
                            <a id="lbl-file-name" name="Filename" style="color: cornflowerblue" /></span>
                        </div>
                        <a class="upload-trigger" id="trg-upload" style="cursor:pointer">
                            <span class="ui-silk ui-silk-page-attach"></span>Attach File..
                        </a>
                        <a class="delete-trigger" id="trg-delete" style="cursor:pointer">
                            <span class="ui-silk ui-silk-page-delete"></span>Remove
                        </a>
                    </li>
                </ol>
            </fieldset>
            <!-- Audit Trail -->
            <fieldset class="cssform left-label">
                <legend>Audit Trail</legend>
                <ol>
                    <li>
                        <label>Date Created</label>
                        <div>
                            <span id="lbl-insert-date" name="CreatedTimestamp" class="fieldValue" readonly="readonly" />
                        </div>
                    </li>
                    <li>
                        <label>Created By</label>
                        <div>
                            <span id="lbl-insert-by" name="CreatedByName" readonly="readonly" class="fieldValue" />
                        </div>
                    </li>
                    <li>
                        <label>Date Last Updated</label>
                        <div>
                            <span id="lbl-last-updated-date" name="UpdatedTimestamp" readonly="readonly" class="fieldValue" />
                        </div>
                    </li>
                    <li>
                        <label>Last Updated By</label>
                        <div>
                            <span id="lbl-last-updated-by" name="CreatedByName" readonly="readonly" class="fieldValue" />
                        </div>
                    </li>
                </ol>
            </fieldset>
            <!-- END Audit Trail-->
        </form>
    </div>
</div>
<!-- end of panel frame -->
