﻿@{
    ViewBag.Title = "Pump";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jqGrid-4.7.0/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/silk-sprite/silk-sprite.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/cinovasi.widget.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="@Url.Content("~/Scripts/underscore-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ajaxmanager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/backbone.sync.ajaxman.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquery-ui-1.12.1/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/i18n/grid.locale-en.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/jqGrid-4.7.0/js/minified/jquery.jqGrid.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/jquerytools/src/tabs/tabs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.field.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.metadata.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/date.format.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.foundation.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cinovasi.widget.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Pump/model.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Pump/tabview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Pump/gridview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Pump/filterview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Pump/formview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Pump/router.js")"></script>

<style type="text/css">
</style>

<div id="pnl-frame">
    <ul class="tabs">
        <li>
            <a href="#pnl-grid">Grid</a>
        </li>
        <li>
            <a href="#pnl-form">Form</a>
        </li>
    </ul>
    <!-- panel grid -->
    <div id="pnl-grid" class="panes">
        <div class="panel-group" id="pnl-search" role="tablist" aria-multiselectable="true">
            <div class="panel panel-darkblue">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#pnl-search" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Pump
                        </a>
                        <div class="float-right">
                            @if (ViewBag.New)
                            {
                                <a href="#new" style="color:#fff;">
                                    <span class="ui-silk ui-silk-application-add"></span>New
                                </a>
                            }
                        </div>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="pnl-search" class="pnl-search bg-grey-gallery">
                            <form style="" id="form-search" action="javascript:void(0);">
                                <!-- Toolbar Front Page -->
                                <fieldset class="pnl-button">
                                    <ol>
                                        <li>
                                            <button class="button cmd-refresh">
                                                <span class="ui-silk ui-silk-arrow-refresh"></span> Refresh
                                            </button>
                                        </li>
                                        <li>
                                            <button class="button cmd-reset-filter">
                                                <span class="ui-silk ui-silk-arrow-rotate-clockwise"></span> Reset Filter
                                            </button>
                                        </li>
                                        @*<li>
                                            <button class="button cmd-export">
                                                <span class="ui-silk ui-silk-page-white-excel"></span> Export Excel
                                            </button>
                                        </li>*@
                                    </ol>
                                </fieldset>
                                <fieldset class="search-param">
                                    <ol>
                                        <li class="search-item">
                                            <label for="flt-pump-name">Pump Name</label>
                                            <input type="text" size="10" id="flt-pump-name" name="fltName" class="input-control" />
                                        </li>
                                    </ol>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jq grid -->
        <div id="pnl-grid-container">
            <table id="tbl-pump"></table>
            <div id="tbl-pump-pager"></div>
        </div>
    </div>
    <!-- end of panel grid -->
    <div id="pnl-form" class="panes">
        <div class="form-top-toolbar">
            <fieldset>
                <ol>
                    <li>
                        <button class="button cmd-back btn btn-darkblue">
                            <a href="#" class="toolbar-item" style="color:#fff;">
                                <span class="ui-silk ui-silk-control-rewind-blue"></span> Back to List
                            </a>
                        </button>
                    </li>
                    @if (ViewBag.Update)
                    {
                        <li>
                            <button class="button cmd-edit btn btn-darkblue">
                                <span class="ui-silk ui-silk-pencil"></span> Edit
                            </button>
                        </li>
                    }
                    <li>
                        <button id="btn-save" class="button cmd-save btn btn-darkblue">
                            <span class="ui-silk ui-silk-disk"></span> Save
                        </button>
                    </li>
                </ol>
            </fieldset>
        </div>
        <form id="the-form" class="the-form">
            <div class="server-msg pnl-msg"></div>
            <div class="client-msg pnl-msg"></div>
            <!-- DETAIL Information -->
            <fieldset class="cssform left-label">
                <legend>Pump Details</legend>
                <ol>
                    <li>
                        <label for="txt-pump-name">Pump Name<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-pump-name" name="Name" title="Pump Name is required" class="required" />
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-flowrate">Flowrate (m<sup>3</sup>/h)<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-flowrate" name="Flowrate" title="Flowrate is required" class="required" />
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-merk">Merk<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-merk" name="Merk" title="Merk is required" class="required" />
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-tipe">Tipe<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-tipe" name="Tipe" title="Tipe is required" class="required" />
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-jenis">Jenis<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-jenis" name="Jenis" title="Jenis is required" class="required" />
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-motor">Motor (kW)<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-motor" name="Motor" title="Motor is required" class="required" />
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-explosion-code">Explosion Code<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-explosion-code" name="ExplosionCode" title="Explosion Code is required" class="required" />
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                    <li>
                        <label for="txt-kelas">Kelas<span class="required-mark"> *</span></label>
                        <div>
                            <input type="text" id="txt-kelas" name="Kelas" title="Kelas is required" class="required" />
                            <span class="fieldValue"></span>
                        </div>
                    </li>
                </ol>
            </fieldset>
            <!-- Audit Trail -->
            <fieldset class="cssform left-label">
                <legend>Audit Trail</legend>
                <ol>
                    <li>
                        <label>Date Created</label>
                        <div>
                            <span id="lbl-insert-date" name="CreatedTimestamp" class="fieldValue" readonly="readonly" />
                        </div>
                    </li>
                    <li>
                        <label>Created By</label>
                        <div>
                            <span id="lbl-insert-by" name="CreatedByName" readonly="readonly" class="fieldValue" />
                        </div>
                    </li>
                    <li>
                        <label>Date Last Updated</label>
                        <div>
                            <span id="lbl-last-updated-date" name="UpdatedTimestamp" readonly="readonly" class="fieldValue" />
                        </div>
                    </li>
                    <li>
                        <label>Last Updated By</label>
                        <div>
                            <span id="lbl-last-updated-by" name="CreatedByName" readonly="readonly" class="fieldValue" />
                        </div>
                    </li>
                </ol>
            </fieldset>
            <!-- END Audit Trail-->
        </form>
    </div>
</div>
<!-- end of panel frame -->
